In [1]:
import pandas
import pathlib
import os
import shutil

In [2]:
def get_dataframes(p):
    if 'parquet' in p:
        return pandas.read_parquet(p)
    elif '.csv' in p:
        return pandas.read_csv(p)
    elif '.json' in p:
        return pandas.read_json(p) 
    else:
        raise ValueError

def get_paths(path, make_df=False):
    path = pathlib.Path(path)
    lst = [str(l) for l in list(path.rglob('*')) if '.parquet.gzip' in str(l)]
    if make_df:
        lst = [get_dataframes(p) for p in lst]
    return lst


def common_member(a, b):
    a_set = set(a)
    b_set = set(b)

    if (a_set & b_set):
        print(a_set & b_set)
    else:
        print("No common elements")

def auto_key(df_cluster):
    keys = set()
    for df in df_cluster:
        pointer_keys = set(df.columns)
        if (keys & pointer_keys):
                print(keys & pointer_keys)
        else:
            keys = pointer_keys
       


def join_HDF(df_cluster, key=None):

    master = None
    for df in df_cluster:
        print(master)
        if master:
            master = pandas.concat(df)
        else:
            master = df
        print(master)
        break


def join_VDF():
    # Joing Data Vertically 
    pass


auto_key(get_paths('./data/team/', True))

# join_HDF(get_paths('./data/team/', True))

{'homeRoad', 'gamesPlayed', 'teamFullName', 'gameDate', 'gameId', 'opponentTeamAbbrev', 'teamId'}
{'homeRoad', 'gamesPlayed', 'teamFullName', 'gameDate', 'gameId', 'teamId', 'opponentTeamAbbrev', 'pointPct'}
{'homeRoad', 'gamesPlayed', 'teamFullName', 'gameDate', 'gameId', 'opponentTeamAbbrev', 'teamId'}
{'homeRoad', 'gamesPlayed', 'teamFullName', 'gameDate', 'gameId', 'teamId', 'opponentTeamAbbrev', 'pointPct'}
{'homeRoad', 'gamesPlayed', 'teamFullName', 'gameDate', 'gameId', 'teamId', 'opponentTeamAbbrev', 'pointPct'}
{'homeRoad', 'gamesPlayed', 'teamFullName', 'gameDate', 'gameId', 'teamId', 'opponentTeamAbbrev', 'pointPct'}
{'homeRoad', 'gamesPlayed', 'teamFullName', 'gameDate', 'gameId', 'teamId', 'opponentTeamAbbrev', 'pointPct'}
{'homeRoad', 'gamesPlayed', 'teamFullName', 'gameDate', 'gameId', 'opponentTeamAbbrev', 'teamId'}
{'homeRoad', 'gamesPlayed', 'teamFullName', 'gameDate', 'gameId', 'teamId', 'opponentTeamAbbrev', 'pointPct'}
{'homeRoad', 'gamesPlayed', 'teamFullName', 'gameDate', 'gameId', 'teamId', 'opponentTeamAbbrev', 'pointPct'}
{'homeRoad', 'gamesPlayed', 'teamFullName', 'gameDate', 'gameId', 'teamId', 'opponentTeamAbbrev', 'pointPct'}
{'homeRoad', 'gamesPlayed', 'teamFullName', 'gameDate', 'gameId', 'teamId', 'opponentTeamAbbrev', 'pointPct'}
{'homeRoad', 'gamesPlayed', 'teamFullName', 'gameDate', 'gameId', 'teamId', 'opponentTeamAbbrev', 'pointPct'}
{'homeRoad', 'gamesPlayed', 'teamFullName', 'gameDate', 'gameId', 'teamId', 'opponentTeamAbbrev', 'pointPct'}
{'homeRoad', 'gamesPlayed', 'teamFullName', 'gameDate', 'gameId', 'opponentTeamAbbrev', 'teamId'}
{'homeRoad', 'gamesPlayed', 'teamFullName', 'gameDate', 'gameId', 'opponentTeamAbbrev', 'teamId'}
{'homeRoad', 'gamesPlayed', 'teamFullName', 'gameDate', 'gameId', 'opponentTeamAbbrev', 'teamId'}
{'homeRoad', 'gamesPlayed', 'teamFullName', 'gameDate', 'gameId', 'opponentTeamAbbrev', 'teamId'}
{'homeRoad', 'gamesPlayed', 'teamFullName', 'gameDate', 'timesShorthanded', 'gameId', 'opponentTeamAbbrev', 'teamId'}
{'homeRoad', 'gamesPlayed', 'teamFullName', 'gameDate', 'gameId', 'teamId', 'opponentTeamAbbrev', 'pointPct'}

In [3]:
# src_paths = get_paths('./data/team/')
# dst_paths = [x.replace('/data.parquet.gzip', '_data.parquet.gzip') for x in src_paths]
# for x in range(len(src_paths)): shutil.move(src_paths[x], dst_paths[x])
df_0 = pandas.read_parquet('data/team/summary_data.parquet.gzip')
df_1 = pandas.read_parquet('data/team/daysbetweengames_data.parquet.gzip')
df_2 = pandas.read_parquet('data/team/faceoffpercentages_data.parquet.gzip')
df_3 = pandas.read_parquet('data/team/faceoffwins_data.parquet.gzip')
df_4 = pandas.read_parquet('data/team/goalgames_data.parquet.gzip')
df_5 = pandas.read_parquet('data/team/goalsagainstbystrength_data.parquet.gzip')
df_6 = pandas.read_parquet('data/team/goalsbyperiod_data.parquet.gzip')
df_7 = pandas.read_parquet('data/team/goalsforbystrength_data.parquet.gzip')
df_8 = pandas.read_parquet('data/team/leadingtrailing_data.parquet.gzip')
df_9 = pandas.read_parquet('data/team/outshootoutshotby_data.parquet.gzip')
df_10 = pandas.read_parquet('data/team/penalties_data.parquet.gzip')
df_11 = pandas.read_parquet('data/team/penaltykill_data.parquet.gzip')
df_12 = pandas.read_parquet('data/team/penaltykilltime_data.parquet.gzip')
df_13 = pandas.read_parquet('data/team/percentages_data.parquet.gzip')
df_14 = pandas.read_parquet('data/team/powerplay_data.parquet.gzip')
df_15 = pandas.read_parquet('data/team/powerplaytime_data.parquet.gzip')
df_16 = pandas.read_parquet('data/team/realtime_data.parquet.gzip')
df_17 = pandas.read_parquet('data/team/scoretrailfirst_data.parquet.gzip')
df_18 = pandas.read_parquet('data/team/shootout_data.parquet.gzip')
df_19 = pandas.read_parquet('data/team/shottype_data.parquet.gzip')
df_20 = pandas.read_parquet('data/team/summaryshooting_data.parquet.gzip')

In [4]:
df_0.gameId = df_0.gameId.astype('str')
df_1.gameId = df_1.gameId.astype('str')
df_2.gameId = df_2.gameId.astype('str')
df_3.gameId = df_3.gameId.astype('str')
df_4.gameId = df_4.gameId.astype('str')
df_5.gameId = df_5.gameId.astype('str')
df_6.gameId = df_6.gameId.astype('str')
df_7.gameId = df_7.gameId.astype('str')
df_8.gameId = df_8.gameId.astype('str')
df_9.gameId = df_9.gameId.astype('str')
df_10.gameId = df_10.gameId.astype('str')
df_11.gameId = df_11.gameId.astype('str')
df_12.gameId = df_12.gameId.astype('str')
df_13.gameId = df_13.gameId.astype('str')
df_14.gameId = df_14.gameId.astype('str')
df_15.gameId = df_15.gameId.astype('str')
df_16.gameId = df_16.gameId.astype('str')
df_17.gameId = df_17.gameId.astype('str')
df_18.gameId = df_18.gameId.astype('str')
df_19.gameId = df_19.gameId.astype('str')
df_20.gameId = df_20.gameId.astype('str')

In [5]:
df_0.set_index(['gameId', 'teamId'], inplace=True)
df_1.set_index(['gameId', 'teamId'], inplace=True)
df_2.set_index(['gameId', 'teamId'], inplace=True)
df_3.set_index(['gameId', 'teamId'], inplace=True)
df_4.set_index(['gameId', 'teamId'], inplace=True)
df_5.set_index(['gameId', 'teamId'], inplace=True)
df_6.set_index(['gameId', 'teamId'], inplace=True)
df_7.set_index(['gameId', 'teamId'], inplace=True)
df_8.set_index(['gameId', 'teamId'], inplace=True)
df_9.set_index(['gameId', 'teamId'], inplace=True)
df_10.set_index(['gameId', 'teamId'], inplace=True)
df_11.set_index(['gameId', 'teamId'], inplace=True)
df_12.set_index(['gameId', 'teamId'], inplace=True)
df_13.set_index(['gameId', 'teamId'], inplace=True)
df_14.set_index(['gameId', 'teamId'], inplace=True)
df_15.set_index(['gameId', 'teamId'], inplace=True)
df_16.set_index(['gameId', 'teamId'], inplace=True)
df_17.set_index(['gameId', 'teamId'], inplace=True)
df_18.set_index(['gameId', 'teamId'], inplace=True)
df_19.set_index(['gameId', 'teamId'], inplace=True)
df_20.set_index(['gameId', 'teamId'], inplace=True)

In [6]:
df_0.sort_index(inplace=True)
df_1.sort_index(inplace=True)
df_2.sort_index(inplace=True)
df_3.sort_index(inplace=True)
df_4.sort_index(inplace=True)
df_5.sort_index(inplace=True)
df_6.sort_index(inplace=True)
df_7.sort_index(inplace=True)
df_8.sort_index(inplace=True)
df_9.sort_index(inplace=True)
df_10.sort_index(inplace=True)
df_11.sort_index(inplace=True)
df_12.sort_index(inplace=True)
df_13.sort_index(inplace=True)
df_14.sort_index(inplace=True)
df_15.sort_index(inplace=True)
df_16.sort_index(inplace=True)
df_17.sort_index(inplace=True)
df_18.sort_index(inplace=True)
df_19.sort_index(inplace=True)
df_20.sort_index(inplace=True)

In [7]:
df_0.drop_duplicates(inplace=True)
df_1.drop_duplicates(inplace=True)
df_2.drop_duplicates(inplace=True)
df_3.drop_duplicates(inplace=True)
df_4.drop_duplicates(inplace=True)
df_5.drop_duplicates(inplace=True)
df_6.drop_duplicates(inplace=True)
df_7.drop_duplicates(inplace=True)
df_8.drop_duplicates(inplace=True)
df_9.drop_duplicates(inplace=True)
df_10.drop_duplicates(inplace=True)
df_11.drop_duplicates(inplace=True)
df_12.drop_duplicates(inplace=True)
df_13.drop_duplicates(inplace=True)
df_14.drop_duplicates(inplace=True)
df_15.drop_duplicates(inplace=True)
df_16.drop_duplicates(inplace=True)
df_17.drop_duplicates(inplace=True)
df_18.drop_duplicates(inplace=True)
df_19.drop_duplicates(inplace=True)
df_20.drop_duplicates(inplace=True)

In [8]:
def common_member(a, b):
    a_set = set(a)
    b_set = set(b)

    # check length
    if len(a_set.intersection(b_set)) > 0:
        return (a_set.intersection(b_set))
    else:
        return ("no common elements")

In [9]:
# print(df_1.columns)
# print(df_2.columns)
# print(df_3.columns)
# print(df_4.columns)
# print(df_5.columns)
# print(df_6.columns)
# print(df_7.columns)
# print(df_8.columns)
# print(df_9.columns)
# print(df_10.columns)
# print(df_11.columns)
# print(df_12.columns)
# print(df_13.columns)
# print(df_14.columns)
# print(df_15.columns)
# print(df_16.columns)
# print(df_17.columns)
# print(df_18.columns)
# print(df_19.columns)
# print(df_20.columns)
# col_matrix = [df_0.columns, df_1.columns,
#               df_2.columns, df_3.columns, 
#               df_4.columns, df_5.columns,
#               df_6.columns, df_7.columns, 
#               df_8.columns, df_9.columns,
#               df_10.columns, df_11.columns,
#               df_12.columns, df_13.columns,
#               df_14.columns, df_15.columns, 
#               df_16.columns, df_17.columns,
#               df_18.columns, df_19.columns,
#               df_20.columns]

# for item in col_matrix:
#     for item_ in col_matrix:
#         print(common_member(item, item_))

In [10]:
info = [df_0.info(),
df_1.info(),
df_2.info(),
df_3.info(),
df_4.info(),
df_5.info(),
df_6.info(),
df_7.info(),
df_8.info(),
df_9.info(),
df_10.info(),
df_11.info(),
df_12.info(),
df_13.info(),
df_14.info(),
df_15.info(),
df_16.info(),
df_17.info(),
df_18.info(),
df_19.info(),
df_20.info()
]
for x in info:
    print(x)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 34280 entries, ('2008020001', 3) to ('2022020990', 7)
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   faceoffWinPct        34280 non-null  float64
 1   gameDate             34280 non-null  object
 2   gamesPlayed          34280 non-null  int64
 3   goalsAgainst         34280 non-null  int64
 4   goalsAgainstPerGame  34280 non-null  float64
 5   goalsFor             34280 non-null  int64
 6   goalsForPerGame      34280 non-null  float64
 7   homeRoad             34280 non-null  object
 8   losses               34280 non-null  int64
 9   opponentTeamAbbrev   34280 non-null  object
 10  otLosses             34280 non-null  int64
 11  penaltyKillNetPct    33676 non-null  float64
 12  penaltyKillPct       33676 non-null  float64
 13  pointPct             34280 non-null  float64
 14  points               34280 non-null  int64
 15  powerPlayNetPct      33676 non-null  float64
 16  powerPlayPct         33676 non-null  float64
 17  regulationAndOtWins  34280 non-null  int64
 18  shotsAgainstPerGame  34280 non-null  float64
 19  shotsForPerGame      34280 non-null  float64
 20  teamFullName         34280 non-null  object
 21  ties                 0 non-null      object
 22  wins                 34280 non-null  int64
 23  winsInRegulation     34280 non-null  int64
 24  winsInShootout       34280 non-null  int64
dtypes: float64(10), int64(10), object(5)
memory usage: 7.3+ MB
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 29910 entries, ('2008020001', 3) to ('2022020990', 7)
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   daysRest                 29910 non-null  int64
 1   faceoffWinPct            29910 non-null  float64
 2   gameDate                 29910 non-null  object
 3   gamesPlayed              29910 non-null  int64
 4   goalsAgainstPerGame      29910 non-null  float64
 5   goalsForPerGame          29910 non-null  float64
 6   homeRoad                 29910 non-null  object
 7   losses                   29910 non-null  int64
 8   netGoalsPerGame          29910 non-null  float64
 9   opponentTeamAbbrev       29910 non-null  object
 10  otLosses                 29910 non-null  int64
 11  penaltyKillPct           29368 non-null  float64
 12  pointPct                 29910 non-null  float64
 13  points                   29910 non-null  int64
 14  powerPlayPct             29366 non-null  float64
 15  ppOpportunitiesPerGame   29910 non-null  float64
 16  shotDifferentialPerGame  29910 non-null  float64
 17  shotsAgainstPerGame      29910 non-null  float64
 18  shotsForPerGame          29910 non-null  float64
 19  teamFullName             29910 non-null  object
 20  ties                     0 non-null      object
 21  timesShorthandedPerGame  29910 non-null  float64
 22  wins                     29910 non-null  int64
dtypes: float64(12), int64(6), object(5)
memory usage: 6.0+ MB
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 31417 entries, ('2008020001', 3) to ('2022020990', 7)
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   defensiveZoneFaceoffPct  28955 non-null  float64
 1   defensiveZoneFaceoffs    28957 non-null  float64
 2   evFaceoffPct             31417 non-null  float64
 3   evFaceoffs               31417 non-null  int64
 4   faceoffWinPct            31417 non-null  float64
 5   gameDate                 31417 non-null  object
 6   gamesPlayed              31417 non-null  int64
 7   homeRoad                 31417 non-null  object
 8   neutralZoneFaceoffPct    28955 non-null  float64
 9   neutralZoneFaceoffs      28957 non-null  float64
 10  offensiveZoneFaceoffPct  28955 non-null  float64
 11  offensiveZoneFaceoffs    28957 non-null  float64
 12  opponentTeamAbbrev       31417 non-null  object
 13  ppFaceoffPct             30774 non-null  float64
 14  ppFaceoffs               31417 non-null  int64
 15  shFaceoffPct             30760 non-null  float64
 16  shFaceoffs               31417 non-null  int64
 17  teamFullName             31417 non-null  object
 18  totalFaceoffs            31417 non-null  int64
dtypes: float64(10), int64(5), object(4)
memory usage: 5.3+ MB
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 30877 entries, ('2008020001', 3) to ('2022020990', 7)
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   defensiveZoneFaceoffLosses  28417 non-null  float64
 1   defensiveZoneFaceoffWins    28417 non-null  float64
 2   defensiveZoneFaceoffs       28417 non-null  float64
 3   evFaceoffs                  30877 non-null  int64
 4   evFaceoffsLost              30877 non-null  int64
 5   evFaceoffsWon               30877 non-null  int64
 6   faceoffWinPct               30877 non-null  float64
 7   faceoffsLost                30877 non-null  int64
 8   faceoffsWon                 30877 non-null  int64
 9   gameDate                    30877 non-null  object
 10  gamesPlayed                 30877 non-null  int64
 11  homeRoad                    30877 non-null  object
 12  neutralZoneFaceoffLosses    28417 non-null  float64
 13  neutralZoneFaceoffWins      28417 non-null  float64
 14  neutralZoneFaceoffs         28417 non-null  float64
 15  offensiveZoneFaceoffLosses  28417 non-null  float64
 16  offensiveZoneFaceoffWins    28417 non-null  float64
 17  offensiveZoneFaceoffs       28417 non-null  float64
 18  opponentTeamAbbrev          30877 non-null  object
 19  ppFaceoffs                  30877 non-null  int64
 20  ppFaceoffsLost              30877 non-null  int64
 21  ppFaceoffsWon               30877 non-null  int64
 22  shFaceoffs                  30877 non-null  int64
 23  shFaceoffsLost              30877 non-null  int64
 24  shFaceoffsWon               30877 non-null  int64
 25  teamFullName                30877 non-null  object
 26  totalFaceoffs               30877 non-null  int64
dtypes: float64(10), int64(13), object(4)
memory usage: 7.1+ MB
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 34280 entries, ('2008020001', 3) to ('2022020990', 7)
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   gameDate              34280 non-null  object
 1   gamesPlayed           34280 non-null  int64
 2   homeRoad              34280 non-null  object
 3   losses                34280 non-null  int64
 4   lossesOneGoalGames    34280 non-null  int64
 5   lossesThreeGoalGames  34280 non-null  int64
 6   lossesTwoGoalGames    34280 non-null  int64
 7   opponentTeamAbbrev    34280 non-null  object
 8   otLosses              34280 non-null  int64
 9   otLossesOneGoalGames  34280 non-null  int64
 10  pointPct              34280 non-null  float64
 11  points                34280 non-null  int64
 12  teamFullName          34280 non-null  object
 13  ties                  34280 non-null  int64
 14  winPctOneGoalGames    15384 non-null  float64
 15  winPctThreeGoalGames  11678 non-null  float64
 16  winPctTwoGoalGames    7218 non-null   float64
 17  wins                  34280 non-null  int64
 18  winsOneGoalGames      34280 non-null  int64
 19  winsThreeGoalGames    34280 non-null  int64
 20  winsTwoGoalGames      34280 non-null  int64
dtypes: float64(4), int64(13), object(4)
memory usage: 6.2+ MB
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 34130 entries, ('2008020001', 3) to ('2022020990', 7)
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gameDate                  34130 non-null  object
 1   gamesPlayed               34130 non-null  int64
 2   goalsAgainst              34130 non-null  int64
 3   goalsAgainst3On3          29672 non-null  float64
 4   goalsAgainst3On4          29672 non-null  float64
 5   goalsAgainst3On5          29672 non-null  float64
 6   goalsAgainst3On6          29672 non-null  float64
 7   goalsAgainst4On3          29672 non-null  float64
 8   goalsAgainst4On4          29672 non-null  float64
 9   goalsAgainst4On5          29672 non-null  float64
 10  goalsAgainst4On6          29672 non-null  float64
 11  goalsAgainst5On3          29672 non-null  float64
 12  goalsAgainst5On4          29672 non-null  float64
 13  goalsAgainst5On5          29672 non-null  float64
 14  goalsAgainst5On6          29672 non-null  float64
 15  goalsAgainst6On3          29672 non-null  float64
 16  goalsAgainst6On4          29672 non-null  float64
 17  goalsAgainst6On5          29672 non-null  float64
 18  goalsAgainstPenaltyShots  29672 non-null  float64
 19  goalsAgainstPerGame       34130 non-null  float64
 20  goalsFor                  34130 non-null  int64
 21  homeRoad                  34130 non-null  object
 22  losses                    34130 non-null  int64
 23  opponentTeamAbbrev        34130 non-null  object
 24  otLosses                  34130 non-null  int64
 25  pointPct                  34130 non-null  float64
 26  points                    34130 non-null  int64
 27  teamFullName              34130 non-null  object
 28  ties                      34130 non-null  int64
 29  wins                      34130 non-null  int64
dtypes: float64(18), int64(8), object(4)
memory usage: 8.5+ MB
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 31068 entries, ('2008020001.0', 3) to ('nan', 52)
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   evGoalsFor            31068 non-null  int64
 1   gameDate              31068 non-null  object
 2   gamesPlayed           31068 non-null  int64
 3   goalsAgainst          31068 non-null  int64
 4   goalsFor              31068 non-null  int64
 5   homeRoad              31068 non-null  object
 6   losses                31068 non-null  int64
 7   opponentTeamAbbrev    31068 non-null  object
 8   otLosses              31068 non-null  int64
 9   period1GoalsAgainst   30868 non-null  float64
 10  period1GoalsFor       30865 non-null  float64
 11  period2GoalsAgainst   30851 non-null  float64
 12  period2GoalsFor       30855 non-null  float64
 13  period3GoalsAgainst   30797 non-null  float64
 14  period3GoalsFor       30794 non-null  float64
 15  periodOtGoalsAgainst  30925 non-null  float64
 16  periodOtGoalsFor      30922 non-null  float64
 17  pointPct              31068 non-null  float64
 18  points                31068 non-null  int64
 19  ppGoalsFor            31068 non-null  int64
 20  shGoalsFor            31068 non-null  int64
 21  teamFullName          31068 non-null  object
 22  ties                  0 non-null      object
 23  wins                  31068 non-null  int64
dtypes: float64(9), int64(10), object(5)
memory usage: 6.4+ MB
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 34162 entries, ('2009020001.0', 6) to ('nan', 55)
Data columns (total 30 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   gameDate              34162 non-null  object
 1   gamesPlayed           34162 non-null  int64
 2   goalsAgainst          34162 non-null  int64
 3   goalsFor              34162 non-null  int64
 4   goalsFor3On3          29701 non-null  float64
 5   goalsFor3On4          29701 non-null  float64
 6   goalsFor3On5          29701 non-null  float64
 7   goalsFor3On6          29701 non-null  float64
 8   goalsFor4On3          29701 non-null  float64
 9   goalsFor4On4          29701 non-null  float64
 10  goalsFor4On5          29701 non-null  float64
 11  goalsFor4On6          29701 non-null  float64
 12  goalsFor5On3          29701 non-null  float64
 13  goalsFor5On4          29701 non-null  float64
 14  goalsFor5On5          29701 non-null  float64
 15  goalsFor5On6          29701 non-null  float64
 16  goalsFor6On3          29701 non-null  float64
 17  goalsFor6On4          29701 non-null  float64
 18  goalsFor6On5          29701 non-null  float64
 19  goalsForPenaltyShots  29701 non-null  float64
 20  goalsForPerGame       34162 non-null  float64
 21  homeRoad              34162 non-null  object
 22  losses                34162 non-null  int64
 23  opponentTeamAbbrev    34162 non-null  object
 24  otLosses              34162 non-null  int64
 25  pointPct              34162 non-null  float64
 26  points                34162 non-null  int64
 27  teamFullName          34162 non-null  object
 28  ties                  34162 non-null  int64
 29  wins                  34162 non-null  int64
dtypes: float64(18), int64(8), object(4)
memory usage: 8.5+ MB
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 30048 entries, ('2008020001', 3) to ('2022020990', 7)
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gameDate             30048 non-null  object
 1   gamesPlayed          30048 non-null  int64
 2   homeRoad             30048 non-null  object
 3   lossLeadPeriod1      30048 non-null  int64
 4   lossLeadPeriod2      30048 non-null  int64
 5   lossTrailPeriod1     30048 non-null  int64
 6   lossTrailPeriod2     30048 non-null  int64
 7   opponentTeamAbbrev   30048 non-null  object
 8   otLossLeadPeriod1    30048 non-null  int64
 9   otLossLeadPeriod2    30048 non-null  int64
 10  otLossTrailPeriod1   30048 non-null  int64
 11  otLossTrailPeriod2   30048 non-null  int64
 12  period1GoalsAgainst  30048 non-null  int64
 13  period1GoalsFor      30048 non-null  int64
 14  period2GoalsAgainst  30048 non-null  int64
 15  period2GoalsFor      30048 non-null  int64
 16  pointPct             30048 non-null  float64
 17  teamFullName         30048 non-null  object
 18  tiesLeadPeriod1      30048 non-null  int64
 19  tiesLeadPeriod2      30048 non-null  int64
 20  tiesTrailPeriod1     30048 non-null  int64
 21  tiesTrailPeriod2     30048 non-null  int64
 22  winPctLeadPeriod1    9785 non-null   float64
 23  winPctLeadPeriod2    11556 non-null  float64
 24  winPctTrailPeriod1   9808 non-null   float64
 25  winPctTrailPeriod2   11581 non-null  float64
 26  winsLeadPeriod1      30048 non-null  int64
 27  winsLeadPeriod2      30048 non-null  int64
 28  winsTrailPeriod1     30048 non-null  int64
 29  winsTrailPeriod2     30048 non-null  int64
dtypes: float64(5), int64(21), object(4)
memory usage: 7.6+ MB
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 34280 entries, ('2008020001', 3) to ('2022020990', 7)
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   gameDate                   34280 non-null  object
 1   gamesPlayed                34280 non-null  int64
 2   homeRoad                   34280 non-null  object
 3   losses                     34280 non-null  int64
 4   lossesEvenShots            34280 non-null  int64
 5   lossesOutshootOpponent     34280 non-null  int64
 6   lossesOutshotByOpponent    34280 non-null  int64
 7   netShotsPerGame            34280 non-null  float64
 8   opponentTeamAbbrev         34280 non-null  object
 9   otLosses                   34280 non-null  int64
 10  otLossesEvenShots          34280 non-null  int64
 11  otLossesOutshootOpponent   34280 non-null  int64
 12  otLossesOutshotByOpponent  34280 non-null  int64
 13  pointPct                   34280 non-null  float64
 14  points                     34280 non-null  int64
 15  shotsAgainstPerGame        34280 non-null  float64
 16  shotsForPerGame            34280 non-null  float64
 17  teamFullName               34280 non-null  object
 18  ties                       0 non-null      object
 19  tiesEvenShots              34280 non-null  int64
 20  tiesOutshootOpponent       34280 non-null  int64
 21  tiesOutshotByOpponent      34280 non-null  int64
 22  wins                       34280 non-null  int64
 23  winsEvenShots              34280 non-null  int64
 24  winsOutshootOpponent       34280 non-null  int64
 25  winsOutshotByOpponent      34280 non-null  int64
dtypes: float64(4), int64(17), object(5)
memory usage: 7.5+ MB
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 33884 entries, ('2008020001', 3) to ('2022020990', 7)
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   benchMinorPenalties    33884 non-null  int64
 1   gameDate               33884 non-null  object
 2   gameMisconducts        33884 non-null  int64
 3   gamesPlayed            33884 non-null  int64
 4   homeRoad               33884 non-null  object
 5   losses                 33884 non-null  int64
 6   majors                 33884 non-null  int64
 7   matchPenalties         33884 non-null  int64
 8   minors                 33884 non-null  int64
 9   misconducts            33884 non-null  int64
 10  netPenalties           33884 non-null  int64
 11  netPenaltiesPer60      33884 non-null  float64
 12  opponentTeamAbbrev     33884 non-null  object
 13  otLosses               33884 non-null  int64
 14  penalties              33884 non-null  int64
 15  penaltiesDrawnPer60    33884 non-null  float64
 16  penaltiesTakenPer60    33884 non-null  float64
 17  penaltyMinutes         33884 non-null  int64
 18  penaltySecondsPerGame  33884 non-null  int64
 19  points                 33884 non-null  int64
 20  teamFullName           33884 non-null  object
 21  ties                   0 non-null      object
 22  totalPenaltiesDrawn    33884 non-null  int64
 23  wins                   33884 non-null  int64
dtypes: float64(3), int64(16), object(5)
memory usage: 6.9+ MB
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 34280 entries, ('2008020001', 3) to ('2022020990', 7)
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gameDate                 34280 non-null  object
 1   gamesPlayed              34280 non-null  int64
 2   homeRoad                 34280 non-null  object
 3   losses                   34280 non-null  int64
 4   opponentTeamAbbrev       34280 non-null  object
 5   otLosses                 34280 non-null  int64
 6   penaltyKillNetPct        33676 non-null  float64
 7   penaltyKillPct           33676 non-null  float64
 8   pkNetGoals               34280 non-null  int64
 9   pkNetGoalsPerGame        34280 non-null  float64
 10  pkTimeOnIcePerGame       34280 non-null  float64
 11  points                   34280 non-null  int64
 12  pointsPct                34280 non-null  float64
 13  ppGoalsAgainst           34280 non-null  int64
 14  ppGoalsAgainstPerGame    34280 non-null  float64
 15  shGoalsFor               34280 non-null  int64
 16  shGoalsForPerGame        34280 non-null  float64
 17  teamFullName             34280 non-null  object
 18  ties                     0 non-null      object
 19  timesShorthanded         34280 non-null  int64
 20  timesShorthandedPerGame  34280 non-null  float64
 21  wins                     34280 non-null  int64
dtypes: float64(8), int64(9), object(5)
memory usage: 6.5+ MB
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 33854 entries, ('2008020001', 3) to ('2022020990', 7)
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gameDate                 33854 non-null  object
 1   gamesPlayed              33854 non-null  int64
 2   goalsAgainst3v4          31394 non-null  float64
 3   goalsAgainst3v5          31394 non-null  float64
 4   goalsAgainst4v5          31394 non-null  float64
 5   homeRoad                 33854 non-null  object
 6   opponentTeamAbbrev       33854 non-null  object
 7   overallPenaltyKillPct    30808 non-null  float64
 8   penaltyKillPct3v4        2135 non-null   float64
 9   penaltyKillPct3v5        3652 non-null   float64

In [11]:
df_0.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 34280 entries, ('2008020001', 3) to ('2022020990', 7)
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   faceoffWinPct        34280 non-null  float64
 1   gameDate             34280 non-null  object
 2   gamesPlayed          34280 non-null  int64
 3   goalsAgainst         34280 non-null  int64
 4   goalsAgainstPerGame  34280 non-null  float64
 5   goalsFor             34280 non-null  int64
 6   goalsForPerGame      34280 non-null  float64
 7   homeRoad             34280 non-null  object
 8   losses               34280 non-null  int64
 9   opponentTeamAbbrev   34280 non-null  object
 10  otLosses             34280 non-null  int64
 11  penaltyKillNetPct    33676 non-null  float64
 12  penaltyKillPct       33676 non-null  float64
 13  pointPct             34280 non-null  float64
 14  points               34280 non-null  int64
 15  powerPlayNetPct      33676 non-null  float64
 16  powerPlayPct         33676 non-null  float64
 17  regulationAndOtWins  34280 non-null  int64
 18  shotsAgainstPerGame  34280 non-null  float64
 19  shotsForPerGame      34280 non-null  float64
 20  teamFullName         34280 non-null  object
 21  ties                 0 non-null      object
 22  wins                 34280 non-null  int64
 23  winsInRegulation     34280 non-null  int64
 24  winsInShootout       34280 non-null  int64
dtypes: float64(10), int64(10), object(5)
memory usage: 7.3+ MB

In [12]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 29910 entries, ('2008020001', 3) to ('2022020990', 7)
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   daysRest                 29910 non-null  int64
 1   faceoffWinPct            29910 non-null  float64
 2   gameDate                 29910 non-null  object
 3   gamesPlayed              29910 non-null  int64
 4   goalsAgainstPerGame      29910 non-null  float64
 5   goalsForPerGame          29910 non-null  float64
 6   homeRoad                 29910 non-null  object
 7   losses                   29910 non-null  int64
 8   netGoalsPerGame          29910 non-null  float64
 9   opponentTeamAbbrev       29910 non-null  object
 10  otLosses                 29910 non-null  int64
 11  penaltyKillPct           29368 non-null  float64
 12  pointPct                 29910 non-null  float64
 13  points                   29910 non-null  int64
 14  powerPlayPct             29366 non-null  float64
 15  ppOpportunitiesPerGame   29910 non-null  float64
 16  shotDifferentialPerGame  29910 non-null  float64
 17  shotsAgainstPerGame      29910 non-null  float64
 18  shotsForPerGame          29910 non-null  float64
 19  teamFullName             29910 non-null  object
 20  ties                     0 non-null      object
 21  timesShorthandedPerGame  29910 non-null  float64
 22  wins                     29910 non-null  int64
dtypes: float64(12), int64(6), object(5)
memory usage: 6.0+ MB

In [13]:
cols_to_use = df_1.columns.difference(df_0.columns)
base = df_0.join(df_1[cols_to_use])
base.head(10)

                   faceoffWinPct    gameDate  gamesPlayed  goalsAgainst  \
gameId     teamId
2008020001 3            0.483870  2008-10-04            1             1
           14           0.516129  2008-10-04            1             2
2008020002 5            0.466666  2008-10-04            1             3
           9            0.533333  2008-10-04            1             4
2008020003 3            0.369565  2008-10-05            1             1
           14           0.630434  2008-10-05            1             2
2008020004 5            0.508771  2008-10-05            1             3
           9            0.491228  2008-10-05            1             1
2008020005 10           0.355932  2008-10-09            1             2
           17           0.644067  2008-10-09            1             3

                   goalsAgainstPerGame  goalsFor  goalsForPerGame homeRoad  \
gameId     teamId
2008020001 3                       1.0         2              2.0        R
           14                      2.0         1              1.0        H
2008020002 5                       3.0         4              4.0        R
           9                       4.0         3              3.0        H
2008020003 3                       1.0         2              2.0        H
           14                      2.0         1              1.0        R
2008020004 5                       3.0         1              1.0        H
           9                       1.0         3              3.0        R
2008020005 10                      2.0         3              3.0        R
           17                      3.0         2              2.0        H

                   losses opponentTeamAbbrev  ...         teamFullName  ties  \
gameId     teamId                             ...
2008020001 3            0                TBL  ...     New York Rangers  None
           14           1                NYR  ...  Tampa Bay Lightning  None
2008020002 5            0                OTT  ...  Pittsburgh Penguins  None
           9            0                PIT  ...      Ottawa Senators  None
2008020003 3            0                TBL  ...     New York Rangers  None
           14           1                NYR  ...  Tampa Bay Lightning  None
2008020004 5            1                OTT  ...  Pittsburgh Penguins  None
           9            0                PIT  ...      Ottawa Senators  None
2008020005 10           0                DET  ...  Toronto Maple Leafs  None
           17           1                TOR  ...    Detroit Red Wings  None

                   wins  winsInRegulation  winsInShootout  daysRest  \
gameId     teamId
2008020001 3          1                 1               0       4.0
           14         0                 0               0       4.0
2008020002 5          1                 0               0       NaN
           9          0                 0               0       4.0
2008020003 3          1                 1               0       0.0
           14         0                 0               0       0.0
2008020004 5          0                 0               0       0.0
           9          1                 1               0       0.0
2008020005 10         1                 1               0       4.0
           17         0                 0               0       4.0

                   netGoalsPerGame  ppOpportunitiesPerGame  \
gameId     teamId
2008020001 3                   1.0                     7.0
           14                 -1.0                     4.0
2008020002 5                   NaN                     NaN
           9                  -1.0                     6.0
2008020003 3                   1.0                     4.0
           14                 -1.0                     5.0
2008020004 5                  -2.0                     7.0
           9                   2.0                     4.0
2008020005 10                  1.0                     2.0
           17                 -1.0                     3.0

                   shotDifferentialPerGame  timesShorthandedPerGame
gameId     teamId
2008020001 3                          20.0                      4.0
           14                        -20.0                      7.0
2008020002 5                           NaN                      NaN
           9                           5.0                      7.0
2008020003 3                          20.0                      5.0
           14                        -20.0                      4.0
2008020004 5                           4.0                      4.0
           9                          -4.0                      7.0
2008020005 10                         -8.0                      3.0
           17                          8.0                      2.0

[10 rows x 30 columns]

In [14]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 31417 entries, ('2008020001', 3) to ('2022020990', 7)
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   defensiveZoneFaceoffPct  28955 non-null  float64
 1   defensiveZoneFaceoffs    28957 non-null  float64
 2   evFaceoffPct             31417 non-null  float64
 3   evFaceoffs               31417 non-null  int64
 4   faceoffWinPct            31417 non-null  float64
 5   gameDate                 31417 non-null  object
 6   gamesPlayed              31417 non-null  int64
 7   homeRoad                 31417 non-null  object
 8   neutralZoneFaceoffPct    28955 non-null  float64
 9   neutralZoneFaceoffs      28957 non-null  float64
 10  offensiveZoneFaceoffPct  28955 non-null  float64
 11  offensiveZoneFaceoffs    28957 non-null  float64
 12  opponentTeamAbbrev       31417 non-null  object
 13  ppFaceoffPct             30774 non-null  float64
 14  ppFaceoffs               31417 non-null  int64
 15  shFaceoffPct             30760 non-null  float64
 16  shFaceoffs               31417 non-null  int64
 17  teamFullName             31417 non-null  object
 18  totalFaceoffs            31417 non-null  int64
dtypes: float64(10), int64(5), object(4)
memory usage: 5.3+ MB

In [15]:
cols_to_use = df_2.columns.difference(base.columns)
base = base.join(df_2[cols_to_use])
base.head(10)

                   faceoffWinPct    gameDate  gamesPlayed  goalsAgainst  \
gameId     teamId
2008020001 3            0.483870  2008-10-04            1             1
           14           0.516129  2008-10-04            1             2
2008020002 5            0.466666  2008-10-04            1             3
           9            0.533333  2008-10-04            1             4
2008020003 3            0.369565  2008-10-05            1             1
           14           0.630434  2008-10-05            1             2
2008020004 5            0.508771  2008-10-05            1             3
           9            0.491228  2008-10-05            1             1
2008020005 10           0.355932  2008-10-09            1             2
           17           0.644067  2008-10-09            1             3

                   goalsAgainstPerGame  goalsFor  goalsForPerGame homeRoad  \
gameId     teamId
2008020001 3                       1.0         2              2.0        R
           14                      2.0         1              1.0        H
2008020002 5                       3.0         4              4.0        R
           9                       4.0         3              3.0        H
2008020003 3                       1.0         2              2.0        H
           14                      2.0         1              1.0        R
2008020004 5                       3.0         1              1.0        H
           9                       1.0         3              3.0        R
2008020005 10                      2.0         3              3.0        R
           17                      3.0         2              2.0        H

                   losses opponentTeamAbbrev  ...  evFaceoffs  \
gameId     teamId                             ...
2008020001 3            0                TBL  ...        38.0
           14           1                NYR  ...        38.0
2008020002 5            0                OTT  ...        37.0
           9            0                PIT  ...        37.0
2008020003 3            0                TBL  ...        33.0
           14           1                NYR  ...        33.0
2008020004 5            1                OTT  ...        34.0
           9            0                PIT  ...        34.0
2008020005 10           0                DET  ...        48.0
           17           1                TOR  ...        48.0

                   neutralZoneFaceoffPct  neutralZoneFaceoffs  \
gameId     teamId
2008020001 3                         NaN                  NaN
           14                        NaN                  NaN
2008020002 5                         NaN                  NaN
           9                         NaN                  NaN
2008020003 3                         NaN                  NaN
           14                        NaN                  NaN
2008020004 5                         NaN                  NaN
           9                         NaN                  NaN
2008020005 10                        NaN                  NaN
           17                        NaN                  NaN

                   offensiveZoneFaceoffPct  offensiveZoneFaceoffs  \
gameId     teamId
2008020001 3                           NaN                    NaN
           14                          NaN                    NaN
2008020002 5                           NaN                    NaN
           9                           NaN                    NaN
2008020003 3                           NaN                    NaN
           14                          NaN                    NaN
2008020004 5                           NaN                    NaN
           9                           NaN                    NaN
2008020005 10                          NaN                    NaN
           17                          NaN                    NaN

                   ppFaceoffPct  ppFaceoffs  shFaceoffPct  shFaceoffs  \
gameId     teamId
2008020001 3            0.35294        17.0       0.71428         7.0
           14           0.28571         7.0       0.64705        17.0
2008020002 5            0.61538        13.0       0.30000        10.0
           9            0.70000        10.0       0.38461        13.0
2008020003 3            0.50000         6.0       0.28571         7.0
           14           0.71428         7.0       0.50000         6.0
2008020004 5            0.42857        14.0       0.55555         9.0
           9            0.44444         9.0       0.57142        14.0
2008020005 10           0.40000         5.0       0.83333         6.0
           17           0.16666         6.0       0.60000         5.0

                   totalFaceoffs
gameId     teamId
2008020001 3                62.0
           14               62.0
2008020002 5                60.0
           9                60.0
2008020003 3                46.0
           14               46.0
2008020004 5                57.0
           9                57.0
2008020005 10               59.0
           17               59.0

[10 rows x 43 columns]

In [16]:
print(base.shape)
base.neutralZoneFaceoffPct.isnull().sum()

(34280, 43)

5325

In [17]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 30877 entries, ('2008020001', 3) to ('2022020990', 7)
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   defensiveZoneFaceoffLosses  28417 non-null  float64
 1   defensiveZoneFaceoffWins    28417 non-null  float64
 2   defensiveZoneFaceoffs       28417 non-null  float64
 3   evFaceoffs                  30877 non-null  int64
 4   evFaceoffsLost              30877 non-null  int64
 5   evFaceoffsWon               30877 non-null  int64
 6   faceoffWinPct               30877 non-null  float64
 7   faceoffsLost                30877 non-null  int64
 8   faceoffsWon                 30877 non-null  int64
 9   gameDate                    30877 non-null  object
 10  gamesPlayed                 30877 non-null  int64
 11  homeRoad                    30877 non-null  object
 12  neutralZoneFaceoffLosses    28417 non-null  float64
 13  neutralZoneFaceoffWins      28417 non-null  float64
 14  neutralZoneFaceoffs         28417 non-null  float64
 15  offensiveZoneFaceoffLosses  28417 non-null  float64
 16  offensiveZoneFaceoffWins    28417 non-null  float64
 17  offensiveZoneFaceoffs       28417 non-null  float64
 18  opponentTeamAbbrev          30877 non-null  object
 19  ppFaceoffs                  30877 non-null  int64
 20  ppFaceoffsLost              30877 non-null  int64
 21  ppFaceoffsWon               30877 non-null  int64
 22  shFaceoffs                  30877 non-null  int64
 23  shFaceoffsLost              30877 non-null  int64
 24  shFaceoffsWon               30877 non-null  int64
 25  teamFullName                30877 non-null  object
 26  totalFaceoffs               30877 non-null  int64
dtypes: float64(10), int64(13), object(4)
memory usage: 7.1+ MB

In [18]:
cols_to_use = df_3.columns.difference(base.columns)
base = base.join(df_3[cols_to_use])
base.head(10)

                   faceoffWinPct    gameDate  gamesPlayed  goalsAgainst  \
gameId     teamId
2008020001 3            0.483870  2008-10-04            1             1
           14           0.516129  2008-10-04            1             2
2008020002 5            0.466666  2008-10-04            1             3
           9            0.533333  2008-10-04            1             4
2008020003 3            0.369565  2008-10-05            1             1
           14           0.630434  2008-10-05            1             2
2008020004 5            0.508771  2008-10-05            1             3
           9            0.491228  2008-10-05            1             1
2008020005 10           0.355932  2008-10-09            1             2
           17           0.644067  2008-10-09            1             3

                   goalsAgainstPerGame  goalsFor  goalsForPerGame homeRoad  \
gameId     teamId
2008020001 3                       1.0         2              2.0        R
           14                      2.0         1              1.0        H
2008020002 5                       3.0         4              4.0        R
           9                       4.0         3              3.0        H
2008020003 3                       1.0         2              2.0        H
           14                      2.0         1              1.0        R
2008020004 5                       3.0         1              1.0        H
           9                       1.0         3              3.0        R
2008020005 10                      2.0         3              3.0        R
           17                      3.0         2              2.0        H

                   losses opponentTeamAbbrev  ...  faceoffsLost  faceoffsWon  \
gameId     teamId                             ...
2008020001 3            0                TBL  ...          32.0         30.0
           14           1                NYR  ...          30.0         32.0
2008020002 5            0                OTT  ...          32.0         28.0
           9            0                PIT  ...          28.0         32.0
2008020003 3            0                TBL  ...          29.0         17.0
           14           1                NYR  ...          17.0         29.0
2008020004 5            1                OTT  ...          28.0         29.0
           9            0                PIT  ...          29.0         28.0
2008020005 10           0                DET  ...          38.0         21.0
           17           1                TOR  ...          21.0         38.0

                   neutralZoneFaceoffLosses  neutralZoneFaceoffWins  \
gameId     teamId
2008020001 3                            NaN                     NaN
           14                           NaN                     NaN
2008020002 5                            NaN                     NaN
           9                            NaN                     NaN
2008020003 3                            NaN                     NaN
           14                           NaN                     NaN
2008020004 5                            NaN                     NaN
           9                            NaN                     NaN
2008020005 10                           NaN                     NaN
           17                           NaN                     NaN

                   offensiveZoneFaceoffLosses  offensiveZoneFaceoffWins  \
gameId     teamId
2008020001 3                              NaN                       NaN
           14                             NaN                       NaN
2008020002 5                              NaN                       NaN
           9                              NaN                       NaN
2008020003 3                              NaN                       NaN
           14                             NaN                       NaN
2008020004 5                              NaN                       NaN
           9                              NaN                       NaN
2008020005 10                             NaN                       NaN
           17                             NaN                       NaN

                   ppFaceoffsLost  ppFaceoffsWon  shFaceoffsLost  \
gameId     teamId
2008020001 3                 11.0            6.0             2.0
           14                 5.0            2.0             6.0
2008020002 5                  5.0            8.0             7.0
           9                  3.0            7.0             8.0
2008020003 3                  3.0            3.0             5.0
           14                 2.0            5.0             3.0
2008020004 5                  8.0            6.0             4.0
           9                  5.0            4.0             6.0
2008020005 10                 3.0            2.0             1.0
           17                 5.0            1.0             2.0

                   shFaceoffsWon
gameId     teamId
2008020001 3                 5.0
           14               11.0
2008020002 5                 3.0
           9                 5.0
2008020003 3                 2.0
           14                3.0
2008020004 5                 5.0
           9                 8.0
2008020005 10                5.0
           17                3.0

[10 rows x 57 columns]

In [19]:
df_4.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 34280 entries, ('2008020001', 3) to ('2022020990', 7)
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   gameDate              34280 non-null  object
 1   gamesPlayed           34280 non-null  int64
 2   homeRoad              34280 non-null  object
 3   losses                34280 non-null  int64
 4   lossesOneGoalGames    34280 non-null  int64
 5   lossesThreeGoalGames  34280 non-null  int64
 6   lossesTwoGoalGames    34280 non-null  int64
 7   opponentTeamAbbrev    34280 non-null  object
 8   otLosses              34280 non-null  int64
 9   otLossesOneGoalGames  34280 non-null  int64
 10  pointPct              34280 non-null  float64
 11  points                34280 non-null  int64
 12  teamFullName          34280 non-null  object
 13  ties                  34280 non-null  int64
 14  winPctOneGoalGames    15384 non-null  float64
 15  winPctThreeGoalGames  11678 non-null  float64
 16  winPctTwoGoalGames    7218 non-null   float64
 17  wins                  34280 non-null  int64
 18  winsOneGoalGames      34280 non-null  int64
 19  winsThreeGoalGames    34280 non-null  int64
 20  winsTwoGoalGames      34280 non-null  int64
dtypes: float64(4), int64(13), object(4)
memory usage: 6.2+ MB

In [20]:
cols_to_use = df_4.columns.difference(base.columns)
base = base.join(df_4[cols_to_use])
base.head(10)

                   faceoffWinPct    gameDate  gamesPlayed  goalsAgainst  \
gameId     teamId
2008020001 3            0.483870  2008-10-04            1             1
           14           0.516129  2008-10-04            1             2
2008020002 5            0.466666  2008-10-04            1             3
           9            0.533333  2008-10-04            1             4
2008020003 3            0.369565  2008-10-05            1             1
           14           0.630434  2008-10-05            1             2
2008020004 5            0.508771  2008-10-05            1             3
           9            0.491228  2008-10-05            1             1
2008020005 10           0.355932  2008-10-09            1             2
           17           0.644067  2008-10-09            1             3

                   goalsAgainstPerGame  goalsFor  goalsForPerGame homeRoad  \
gameId     teamId
2008020001 3                       1.0         2              2.0        R
           14                      2.0         1              1.0        H
2008020002 5                       3.0         4              4.0        R
           9                       4.0         3              3.0        H
2008020003 3                       1.0         2              2.0        H
           14                      2.0         1              1.0        R
2008020004 5                       3.0         1              1.0        H
           9                       1.0         3              3.0        R
2008020005 10                      2.0         3              3.0        R
           17                      3.0         2              2.0        H

                   losses opponentTeamAbbrev  ...  lossesOneGoalGames  \
gameId     teamId                             ...
2008020001 3            0                TBL  ...                   0
           14           1                NYR  ...                   1
2008020002 5            0                OTT  ...                   0
           9            0                PIT  ...                   0
2008020003 3            0                TBL  ...                   0
           14           1                NYR  ...                   1
2008020004 5            1                OTT  ...                   0
           9            0                PIT  ...                   0
2008020005 10           0                DET  ...                   0
           17           1                TOR  ...                   1

                   lossesThreeGoalGames  lossesTwoGoalGames  \
gameId     teamId
2008020001 3                          0                   0
           14                         0                   0
2008020002 5                          0                   0
           9                          0                   0
2008020003 3                          0                   0
           14                         0                   0
2008020004 5                          0                   1
           9                          0                   0
2008020005 10                         0                   0
           17                         0                   0

                   otLossesOneGoalGames  winPctOneGoalGames  \
gameId     teamId
2008020001 3                          0                 1.0
           14                         0                 0.0
2008020002 5                          0                 1.0
           9                          1                 0.0
2008020003 3                          0                 1.0
           14                         0                 0.0
2008020004 5                          0                 NaN
           9                          0                 NaN
2008020005 10                         0                 1.0
           17                         0                 0.0

                   winPctThreeGoalGames  winPctTwoGoalGames  winsOneGoalGames  \
gameId     teamId
2008020001 3                        NaN                 NaN                 1
           14                       NaN                 NaN                 0
2008020002 5                        NaN                 NaN                 1
           9                        NaN                 NaN                 0
2008020003 3                        NaN                 NaN                 1
           14                       NaN                 NaN                 0
2008020004 5                        NaN                 0.0                 0
           9                        NaN                 1.0                 0
2008020005 10                       NaN                 NaN                 1
           17                       NaN                 NaN                 0

                   winsThreeGoalGames  winsTwoGoalGames
gameId     teamId
2008020001 3                        0                 0
           14                       0                 0
2008020002 5                        0                 0
           9                        0                 0
2008020003 3                        0                 0
           14                       0                 0
2008020004 5                        0                 0
           9                        0                 1
2008020005 10                       0                 0
           17                       0                 0

[10 rows x 67 columns]

In [21]:
df_5.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 34130 entries, ('2008020001', 3) to ('2022020990', 7)
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gameDate                  34130 non-null  object
 1   gamesPlayed               34130 non-null  int64
 2   goalsAgainst              34130 non-null  int64
 3   goalsAgainst3On3          29672 non-null  float64
 4   goalsAgainst3On4          29672 non-null  float64
 5   goalsAgainst3On5          29672 non-null  float64
 6   goalsAgainst3On6          29672 non-null  float64
 7   goalsAgainst4On3          29672 non-null  float64
 8   goalsAgainst4On4          29672 non-null  float64
 9   goalsAgainst4On5          29672 non-null  float64
 10  goalsAgainst4On6          29672 non-null  float64
 11  goalsAgainst5On3          29672 non-null  float64
 12  goalsAgainst5On4          29672 non-null  float64
 13  goalsAgainst5On5          29672 non-null  float64
 14  goalsAgainst5On6          29672 non-null  float64
 15  goalsAgainst6On3          29672 non-null  float64
 16  goalsAgainst6On4          29672 non-null  float64
 17  goalsAgainst6On5          29672 non-null  float64
 18  goalsAgainstPenaltyShots  29672 non-null  float64
 19  goalsAgainstPerGame       34130 non-null  float64
 20  goalsFor                  34130 non-null  int64
 21  homeRoad                  34130 non-null  object
 22  losses                    34130 non-null  int64
 23  opponentTeamAbbrev        34130 non-null  object
 24  otLosses                  34130 non-null  int64
 25  pointPct                  34130 non-null  float64
 26  points                    34130 non-null  int64
 27  teamFullName              34130 non-null  object
 28  ties                      34130 non-null  int64
 29  wins                      34130 non-null  int64
dtypes: float64(18), int64(8), object(4)
memory usage: 8.5+ MB

In [22]:
cols_to_use = df_5.columns.difference(base.columns)
base = base.join(df_5[cols_to_use])
base.head(10)

                   faceoffWinPct    gameDate  gamesPlayed  goalsAgainst  \
gameId     teamId
2008020001 3            0.483870  2008-10-04            1             1
           14           0.516129  2008-10-04            1             2
2008020002 5            0.466666  2008-10-04            1             3
           9            0.533333  2008-10-04            1             4
2008020003 3            0.369565  2008-10-05            1             1
           14           0.630434  2008-10-05            1             2
2008020004 5            0.508771  2008-10-05            1             3
           9            0.491228  2008-10-05            1             1
2008020005 10           0.355932  2008-10-09            1             2
           17           0.644067  2008-10-09            1             3

                   goalsAgainstPerGame  goalsFor  goalsForPerGame homeRoad  \
gameId     teamId
2008020001 3                       1.0         2              2.0        R
           14                      2.0         1              1.0        H
2008020002 5                       3.0         4              4.0        R
           9                       4.0         3              3.0        H
2008020003 3                       1.0         2              2.0        H
           14                      2.0         1              1.0        R
2008020004 5                       3.0         1              1.0        H
           9                       1.0         3              3.0        R
2008020005 10                      2.0         3              3.0        R
           17                      3.0         2              2.0        H

                   losses opponentTeamAbbrev  ...  goalsAgainst4On5  \
gameId     teamId                             ...
2008020001 3            0                TBL  ...               NaN
           14           1                NYR  ...               NaN
2008020002 5            0                OTT  ...               NaN
           9            0                PIT  ...               NaN
2008020003 3            0                TBL  ...               NaN
           14           1                NYR  ...               NaN
2008020004 5            1                OTT  ...               NaN
           9            0                PIT  ...               NaN
2008020005 10           0                DET  ...               NaN
           17           1                TOR  ...               NaN

                   goalsAgainst4On6  goalsAgainst5On3  goalsAgainst5On4  \
gameId     teamId
2008020001 3                    NaN               NaN               NaN
           14                   NaN               NaN               NaN
2008020002 5                    NaN               NaN               NaN
           9                    NaN               NaN               NaN
2008020003 3                    NaN               NaN               NaN
           14                   NaN               NaN               NaN
2008020004 5                    NaN               NaN               NaN
           9                    NaN               NaN               NaN
2008020005 10                   NaN               NaN               NaN
           17                   NaN               NaN               NaN

                   goalsAgainst5On5  goalsAgainst5On6  goalsAgainst6On3  \
gameId     teamId
2008020001 3                    NaN               NaN               NaN
           14                   NaN               NaN               NaN
2008020002 5                    NaN               NaN               NaN
           9                    NaN               NaN               NaN
2008020003 3                    NaN               NaN               NaN
           14                   NaN               NaN               NaN
2008020004 5                    NaN               NaN               NaN
           9                    NaN               NaN               NaN
2008020005 10                   NaN               NaN               NaN
           17                   NaN               NaN               NaN

                   goalsAgainst6On4  goalsAgainst6On5  \
gameId     teamId
2008020001 3                    NaN               NaN
           14                   NaN               NaN
2008020002 5                    NaN               NaN
           9                    NaN               NaN
2008020003 3                    NaN               NaN
           14                   NaN               NaN
2008020004 5                    NaN               NaN
           9                    NaN               NaN
2008020005 10                   NaN               NaN
           17                   NaN               NaN

                   goalsAgainstPenaltyShots
gameId     teamId
2008020001 3                            NaN
           14                           NaN
2008020002 5                            NaN
           9                            NaN
2008020003 3                            NaN
           14                           NaN
2008020004 5                            NaN
           9                            NaN
2008020005 10                           NaN
           17                           NaN

[10 rows x 83 columns]

In [23]:
print(base.shape)
base.goalsAgainst5On4.isnull().sum()

(34280, 83)

4608

In [24]:
df_6.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 31068 entries, ('2008020001.0', 3) to ('nan', 52)
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   evGoalsFor            31068 non-null  int64
 1   gameDate              31068 non-null  object
 2   gamesPlayed           31068 non-null  int64
 3   goalsAgainst          31068 non-null  int64
 4   goalsFor              31068 non-null  int64
 5   homeRoad              31068 non-null  object
 6   losses                31068 non-null  int64
 7   opponentTeamAbbrev    31068 non-null  object
 8   otLosses              31068 non-null  int64
 9   period1GoalsAgainst   30868 non-null  float64
 10  period1GoalsFor       30865 non-null  float64
 11  period2GoalsAgainst   30851 non-null  float64
 12  period2GoalsFor       30855 non-null  float64
 13  period3GoalsAgainst   30797 non-null  float64
 14  period3GoalsFor       30794 non-null  float64
 15  periodOtGoalsAgainst  30925 non-null  float64
 16  periodOtGoalsFor      30922 non-null  float64
 17  pointPct              31068 non-null  float64
 18  points                31068 non-null  int64
 19  ppGoalsFor            31068 non-null  int64
 20  shGoalsFor            31068 non-null  int64
 21  teamFullName          31068 non-null  object
 22  ties                  0 non-null      object
 23  wins                  31068 non-null  int64
dtypes: float64(9), int64(10), object(5)
memory usage: 6.4+ MB

In [25]:
cols_to_use = df_6.columns.difference(base.columns)
base = base.join(df_6[cols_to_use])
base.head(10)

                   faceoffWinPct    gameDate  gamesPlayed  goalsAgainst  \
gameId     teamId
2008020001 3            0.483870  2008-10-04            1             1
           14           0.516129  2008-10-04            1             2
2008020002 5            0.466666  2008-10-04            1             3
           9            0.533333  2008-10-04            1             4
2008020003 3            0.369565  2008-10-05            1             1
           14           0.630434  2008-10-05            1             2
2008020004 5            0.508771  2008-10-05            1             3
           9            0.491228  2008-10-05            1             1
2008020005 10           0.355932  2008-10-09            1             2
           17           0.644067  2008-10-09            1             3

                   goalsAgainstPerGame  goalsFor  goalsForPerGame homeRoad  \
gameId     teamId
2008020001 3                       1.0         2              2.0        R
           14                      2.0         1              1.0        H
2008020002 5                       3.0         4              4.0        R
           9                       4.0         3              3.0        H
2008020003 3                       1.0         2              2.0        H
           14                      2.0         1              1.0        R
2008020004 5                       3.0         1              1.0        H
           9                       1.0         3              3.0        R
2008020005 10                      2.0         3              3.0        R
           17                      3.0         2              2.0        H

                   losses opponentTeamAbbrev  ...  period1GoalsAgainst  \
gameId     teamId                             ...
2008020001 3            0                TBL  ...                  NaN
           14           1                NYR  ...                  NaN
2008020002 5            0                OTT  ...                  NaN
           9            0                PIT  ...                  NaN
2008020003 3            0                TBL  ...                  NaN
           14           1                NYR  ...                  NaN
2008020004 5            1                OTT  ...                  NaN
           9            0                PIT  ...                  NaN
2008020005 10           0                DET  ...                  NaN
           17           1                TOR  ...                  NaN

                   period1GoalsFor  period2GoalsAgainst  period2GoalsFor  \
gameId     teamId
2008020001 3                   NaN                  NaN              NaN
           14                  NaN                  NaN              NaN
2008020002 5                   NaN                  NaN              NaN
           9                   NaN                  NaN              NaN
2008020003 3                   NaN                  NaN              NaN
           14                  NaN                  NaN              NaN
2008020004 5                   NaN                  NaN              NaN
           9                   NaN                  NaN              NaN
2008020005 10                  NaN                  NaN              NaN
           17                  NaN                  NaN              NaN

                   period3GoalsAgainst  period3GoalsFor  periodOtGoalsAgainst  \
gameId     teamId
2008020001 3                       NaN              NaN                   NaN
           14                      NaN              NaN                   NaN
2008020002 5                       NaN              NaN                   NaN
           9                       NaN              NaN                   NaN
2008020003 3                       NaN              NaN                   NaN
           14                      NaN              NaN                   NaN
2008020004 5                       NaN              NaN                   NaN
           9                       NaN              NaN                   NaN
2008020005 10                      NaN              NaN                   NaN
           17                      NaN              NaN                   NaN

                   periodOtGoalsFor  ppGoalsFor  shGoalsFor
gameId     teamId
2008020001 3                    NaN         NaN         NaN
           14                   NaN         NaN         NaN
2008020002 5                    NaN         NaN         NaN
           9                    NaN         NaN         NaN
2008020003 3                    NaN         NaN         NaN
           14                   NaN         NaN         NaN
2008020004 5                    NaN         NaN         NaN
           9                    NaN         NaN         NaN
2008020005 10                   NaN         NaN         NaN
           17                   NaN         NaN         NaN

[10 rows x 94 columns]

In [26]:
df_7.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 34162 entries, ('2009020001.0', 6) to ('nan', 55)
Data columns (total 30 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   gameDate              34162 non-null  object
 1   gamesPlayed           34162 non-null  int64
 2   goalsAgainst          34162 non-null  int64
 3   goalsFor              34162 non-null  int64
 4   goalsFor3On3          29701 non-null  float64
 5   goalsFor3On4          29701 non-null  float64
 6   goalsFor3On5          29701 non-null  float64
 7   goalsFor3On6          29701 non-null  float64
 8   goalsFor4On3          29701 non-null  float64
 9   goalsFor4On4          29701 non-null  float64
 10  goalsFor4On5          29701 non-null  float64
 11  goalsFor4On6          29701 non-null  float64
 12  goalsFor5On3          29701 non-null  float64
 13  goalsFor5On4          29701 non-null  float64
 14  goalsFor5On5          29701 non-null  float64
 15  goalsFor5On6          29701 non-null  float64
 16  goalsFor6On3          29701 non-null  float64
 17  goalsFor6On4          29701 non-null  float64
 18  goalsFor6On5          29701 non-null  float64
 19  goalsForPenaltyShots  29701 non-null  float64
 20  goalsForPerGame       34162 non-null  float64
 21  homeRoad              34162 non-null  object
 22  losses                34162 non-null  int64
 23  opponentTeamAbbrev    34162 non-null  object
 24  otLosses              34162 non-null  int64
 25  pointPct              34162 non-null  float64
 26  points                34162 non-null  int64
 27  teamFullName          34162 non-null  object
 28  ties                  34162 non-null  int64
 29  wins                  34162 non-null  int64
dtypes: float64(18), int64(8), object(4)
memory usage: 8.5+ MB

In [27]:
cols_to_use = df_7.columns.difference(base.columns)
base = base.join(df_7[cols_to_use])
base.head(10)

                   faceoffWinPct    gameDate  gamesPlayed  goalsAgainst  \
gameId     teamId
2008020001 3            0.483870  2008-10-04            1             1
           14           0.516129  2008-10-04            1             2
2008020002 5            0.466666  2008-10-04            1             3
           9            0.533333  2008-10-04            1             4
2008020003 3            0.369565  2008-10-05            1             1
           14           0.630434  2008-10-05            1             2
2008020004 5            0.508771  2008-10-05            1             3
           9            0.491228  2008-10-05            1             1
2008020005 10           0.355932  2008-10-09            1             2
           17           0.644067  2008-10-09            1             3

                   goalsAgainstPerGame  goalsFor  goalsForPerGame homeRoad  \
gameId     teamId
2008020001 3                       1.0         2              2.0        R
           14                      2.0         1              1.0        H
2008020002 5                       3.0         4              4.0        R
           9                       4.0         3              3.0        H
2008020003 3                       1.0         2              2.0        H
           14                      2.0         1              1.0        R
2008020004 5                       3.0         1              1.0        H
           9                       1.0         3              3.0        R
2008020005 10                      2.0         3              3.0        R
           17                      3.0         2              2.0        H

                   losses opponentTeamAbbrev  ...  goalsFor4On5  goalsFor4On6  \
gameId     teamId                             ...
2008020001 3            0                TBL  ...           NaN           NaN
           14           1                NYR  ...           NaN           NaN
2008020002 5            0                OTT  ...           NaN           NaN
           9            0                PIT  ...           NaN           NaN
2008020003 3            0                TBL  ...           NaN           NaN
           14           1                NYR  ...           NaN           NaN
2008020004 5            1                OTT  ...           NaN           NaN
           9            0                PIT  ...           NaN           NaN
2008020005 10           0                DET  ...           NaN           NaN
           17           1                TOR  ...           NaN           NaN

                   goalsFor5On3  goalsFor5On4  goalsFor5On5  goalsFor5On6  \
gameId     teamId
2008020001 3                NaN           NaN           NaN           NaN
           14               NaN           NaN           NaN           NaN
2008020002 5                NaN           NaN           NaN           NaN
           9                NaN           NaN           NaN           NaN
2008020003 3                NaN           NaN           NaN           NaN
           14               NaN           NaN           NaN           NaN
2008020004 5                NaN           NaN           NaN           NaN
           9                NaN           NaN           NaN           NaN
2008020005 10               NaN           NaN           NaN           NaN
           17               NaN           NaN           NaN           NaN

                   goalsFor6On3  goalsFor6On4  goalsFor6On5  \
gameId     teamId
2008020001 3                NaN           NaN           NaN
           14               NaN           NaN           NaN
2008020002 5                NaN           NaN           NaN
           9                NaN           NaN           NaN
2008020003 3                NaN           NaN           NaN
           14               NaN           NaN           NaN
2008020004 5                NaN           NaN           NaN
           9                NaN           NaN           NaN
2008020005 10               NaN           NaN           NaN
           17               NaN           NaN           NaN

                   goalsForPenaltyShots
gameId     teamId
2008020001 3                        NaN
           14                       NaN
2008020002 5                        NaN
           9                        NaN
2008020003 3                        NaN
           14                       NaN
2008020004 5                        NaN
           9                        NaN
2008020005 10                       NaN
           17                       NaN

[10 rows x 110 columns]

In [28]:
df_8.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 30048 entries, ('2008020001', 3) to ('2022020990', 7)
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gameDate             30048 non-null  object
 1   gamesPlayed          30048 non-null  int64
 2   homeRoad             30048 non-null  object
 3   lossLeadPeriod1      30048 non-null  int64
 4   lossLeadPeriod2      30048 non-null  int64
 5   lossTrailPeriod1     30048 non-null  int64
 6   lossTrailPeriod2     30048 non-null  int64
 7   opponentTeamAbbrev   30048 non-null  object
 8   otLossLeadPeriod1    30048 non-null  int64
 9   otLossLeadPeriod2    30048 non-null  int64
 10  otLossTrailPeriod1   30048 non-null  int64
 11  otLossTrailPeriod2   30048 non-null  int64
 12  period1GoalsAgainst  30048 non-null  int64
 13  period1GoalsFor      30048 non-null  int64
 14  period2GoalsAgainst  30048 non-null  int64
 15  period2GoalsFor      30048 non-null  int64
 16  pointPct             30048 non-null  float64
 17  teamFullName         30048 non-null  object
 18  tiesLeadPeriod1      30048 non-null  int64
 19  tiesLeadPeriod2      30048 non-null  int64
 20  tiesTrailPeriod1     30048 non-null  int64
 21  tiesTrailPeriod2     30048 non-null  int64
 22  winPctLeadPeriod1    9785 non-null   float64
 23  winPctLeadPeriod2    11556 non-null  float64
 24  winPctTrailPeriod1   9808 non-null   float64
 25  winPctTrailPeriod2   11581 non-null  float64
 26  winsLeadPeriod1      30048 non-null  int64
 27  winsLeadPeriod2      30048 non-null  int64
 28  winsTrailPeriod1     30048 non-null  int64
 29  winsTrailPeriod2     30048 non-null  int64
dtypes: float64(5), int64(21), object(4)
memory usage: 7.6+ MB

In [29]:
cols_to_use = df_8.columns.difference(base.columns)
base = base.join(df_8[cols_to_use])
base.head(10)

                   faceoffWinPct    gameDate  gamesPlayed  goalsAgainst  \
gameId     teamId
2008020001 3            0.483870  2008-10-04            1             1
           14           0.516129  2008-10-04            1             2
2008020002 5            0.466666  2008-10-04            1             3
           9            0.533333  2008-10-04            1             4
2008020003 3            0.369565  2008-10-05            1             1
           14           0.630434  2008-10-05            1             2
2008020004 5            0.508771  2008-10-05            1             3
           9            0.491228  2008-10-05            1             1
2008020005 10           0.355932  2008-10-09            1             2
           17           0.644067  2008-10-09            1             3

                   goalsAgainstPerGame  goalsFor  goalsForPerGame homeRoad  \
gameId     teamId
2008020001 3                       1.0         2              2.0        R
           14                      2.0         1              1.0        H
2008020002 5                       3.0         4              4.0        R
           9                       4.0         3              3.0        H
2008020003 3                       1.0         2              2.0        H
           14                      2.0         1              1.0        R
2008020004 5                       3.0         1              1.0        H
           9                       1.0         3              3.0        R
2008020005 10                      2.0         3              3.0        R
           17                      3.0         2              2.0        H

                   losses opponentTeamAbbrev  ...  tiesTrailPeriod1  \
gameId     teamId                             ...
2008020001 3            0                TBL  ...               0.0
           14           1                NYR  ...               0.0
2008020002 5            0                OTT  ...               0.0
           9            0                PIT  ...               0.0
2008020003 3            0                TBL  ...               0.0
           14           1                NYR  ...               0.0
2008020004 5            1                OTT  ...               0.0
           9            0                PIT  ...               NaN
2008020005 10           0                DET  ...               0.0
           17           1                TOR  ...               0.0

                   tiesTrailPeriod2  winPctLeadPeriod1  winPctLeadPeriod2  \
gameId     teamId
2008020001 3                    0.0                NaN                1.0
           14                   0.0                NaN                NaN
2008020002 5                    0.0                NaN                NaN
           9                    0.0                NaN                0.0
2008020003 3                    0.0                NaN                1.0
           14                   0.0                0.0                NaN
2008020004 5                    0.0                NaN                NaN
           9                    NaN                NaN                NaN
2008020005 10                   0.0                1.0                1.0
           17                   0.0                NaN                NaN

                   winPctTrailPeriod1  winPctTrailPeriod2  winsLeadPeriod1  \
gameId     teamId
2008020001 3                      NaN                 NaN              0.0
           14                     NaN                 0.0              0.0
2008020002 5                      NaN                 1.0              0.0
           9                      NaN                 NaN              0.0
2008020003 3                      1.0                 NaN              0.0
           14                     NaN                 0.0              0.0
2008020004 5                      NaN                 0.0              0.0
           9                      NaN                 NaN              NaN
2008020005 10                     NaN                 NaN              1.0
           17                     0.0                 0.0              0.0

                   winsLeadPeriod2  winsTrailPeriod1  winsTrailPeriod2
gameId     teamId
2008020001 3                   1.0               0.0               0.0
           14                  0.0               0.0               0.0
2008020002 5                   0.0               0.0               1.0
           9                   0.0               0.0               0.0
2008020003 3                   1.0               1.0               0.0
           14                  0.0               0.0               0.0
2008020004 5                   0.0               0.0               0.0
           9                   NaN               NaN               NaN
2008020005 10                  1.0               0.0               0.0
           17                  0.0               0.0               0.0

[10 rows x 130 columns]

In [30]:
df_9.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 34280 entries, ('2008020001', 3) to ('2022020990', 7)
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   gameDate                   34280 non-null  object
 1   gamesPlayed                34280 non-null  int64
 2   homeRoad                   34280 non-null  object
 3   losses                     34280 non-null  int64
 4   lossesEvenShots            34280 non-null  int64
 5   lossesOutshootOpponent     34280 non-null  int64
 6   lossesOutshotByOpponent    34280 non-null  int64
 7   netShotsPerGame            34280 non-null  float64
 8   opponentTeamAbbrev         34280 non-null  object
 9   otLosses                   34280 non-null  int64
 10  otLossesEvenShots          34280 non-null  int64
 11  otLossesOutshootOpponent   34280 non-null  int64
 12  otLossesOutshotByOpponent  34280 non-null  int64
 13  pointPct                   34280 non-null  float64
 14  points                     34280 non-null  int64
 15  shotsAgainstPerGame        34280 non-null  float64
 16  shotsForPerGame            34280 non-null  float64
 17  teamFullName               34280 non-null  object
 18  ties                       0 non-null      object
 19  tiesEvenShots              34280 non-null  int64
 20  tiesOutshootOpponent       34280 non-null  int64
 21  tiesOutshotByOpponent      34280 non-null  int64
 22  wins                       34280 non-null  int64
 23  winsEvenShots              34280 non-null  int64
 24  winsOutshootOpponent       34280 non-null  int64
 25  winsOutshotByOpponent      34280 non-null  int64
dtypes: float64(4), int64(17), object(5)
memory usage: 7.5+ MB

In [31]:
cols_to_use = df_9.columns.difference(base.columns)
base = base.join(df_9[cols_to_use])
base.head(10)

                   faceoffWinPct    gameDate  gamesPlayed  goalsAgainst  \
gameId     teamId
2008020001 3            0.483870  2008-10-04            1             1
           14           0.516129  2008-10-04            1             2
2008020002 5            0.466666  2008-10-04            1             3
           9            0.533333  2008-10-04            1             4
2008020003 3            0.369565  2008-10-05            1             1
           14           0.630434  2008-10-05            1             2
2008020004 5            0.508771  2008-10-05            1             3
           9            0.491228  2008-10-05            1             1
2008020005 10           0.355932  2008-10-09            1             2
           17           0.644067  2008-10-09            1             3

                   goalsAgainstPerGame  goalsFor  goalsForPerGame homeRoad  \
gameId     teamId
2008020001 3                       1.0         2              2.0        R
           14                      2.0         1              1.0        H
2008020002 5                       3.0         4              4.0        R
           9                       4.0         3              3.0        H
2008020003 3                       1.0         2              2.0        H
           14                      2.0         1              1.0        R
2008020004 5                       3.0         1              1.0        H
           9                       1.0         3              3.0        R
2008020005 10                      2.0         3              3.0        R
           17                      3.0         2              2.0        H

                   losses opponentTeamAbbrev  ...  netShotsPerGame  \
gameId     teamId                             ...
2008020001 3            0                TBL  ...             20.0
           14           1                NYR  ...            -20.0
2008020002 5            0                OTT  ...             -5.0
           9            0                PIT  ...              5.0
2008020003 3            0                TBL  ...             20.0
           14           1                NYR  ...            -20.0
2008020004 5            1                OTT  ...              4.0
           9            0                PIT  ...             -4.0
2008020005 10           0                DET  ...             -8.0
           17           1                TOR  ...              8.0

                   otLossesEvenShots  otLossesOutshootOpponent  \
gameId     teamId
2008020001 3                       0                         0
           14                      0                         0
2008020002 5                       0                         0
           9                       0                         1
2008020003 3                       0                         0
           14                      0                         0
2008020004 5                       0                         0
           9                       0                         0
2008020005 10                      0                         0
           17                      0                         0

                   otLossesOutshotByOpponent  tiesEvenShots  \
gameId     teamId
2008020001 3                               0              0
           14                              0              0
2008020002 5                               0              0
           9                               0              0
2008020003 3                               0              0
           14                              0              0
2008020004 5                               0              0
           9                               0              0
2008020005 10                              0              0
           17                              0              0

                   tiesOutshootOpponent  tiesOutshotByOpponent  winsEvenShots  \
gameId     teamId
2008020001 3                          0                      0              0
           14                         0                      0              0
2008020002 5                          0                      0              0
           9                          0                      0              0
2008020003 3                          0                      0              0
           14                         0                      0              0
2008020004 5                          0                      0              0
           9                          0                      0              0
2008020005 10                         0                      0              0
           17                         0                      0              0

                   winsOutshootOpponent  winsOutshotByOpponent
gameId     teamId
2008020001 3                          1                      0
           14                         0                      0
2008020002 5                          0                      1
           9                          0                      0
2008020003 3                          1                      0
           14                         0                      0
2008020004 5                          0                      0
           9                          0                      1
2008020005 10                         0                      1
           17                         0                      0

[10 rows x 143 columns]

In [32]:
df_10.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 33884 entries, ('2008020001', 3) to ('2022020990', 7)
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   benchMinorPenalties    33884 non-null  int64
 1   gameDate               33884 non-null  object
 2   gameMisconducts        33884 non-null  int64
 3   gamesPlayed            33884 non-null  int64
 4   homeRoad               33884 non-null  object
 5   losses                 33884 non-null  int64
 6   majors                 33884 non-null  int64
 7   matchPenalties         33884 non-null  int64
 8   minors                 33884 non-null  int64
 9   misconducts            33884 non-null  int64
 10  netPenalties           33884 non-null  int64
 11  netPenaltiesPer60      33884 non-null  float64
 12  opponentTeamAbbrev     33884 non-null  object
 13  otLosses               33884 non-null  int64
 14  penalties              33884 non-null  int64
 15  penaltiesDrawnPer60    33884 non-null  float64
 16  penaltiesTakenPer60    33884 non-null  float64
 17  penaltyMinutes         33884 non-null  int64
 18  penaltySecondsPerGame  33884 non-null  int64
 19  points                 33884 non-null  int64
 20  teamFullName           33884 non-null  object
 21  ties                   0 non-null      object
 22  totalPenaltiesDrawn    33884 non-null  int64
 23  wins                   33884 non-null  int64
dtypes: float64(3), int64(16), object(5)
memory usage: 6.9+ MB

In [33]:
cols_to_use = df_10.columns.difference(base.columns)
base = base.join(df_10[cols_to_use])
base.head(10)

                   faceoffWinPct    gameDate  gamesPlayed  goalsAgainst  \
gameId     teamId
2008020001 3            0.483870  2008-10-04            1             1
           14           0.516129  2008-10-04            1             2
2008020002 5            0.466666  2008-10-04            1             3
           9            0.533333  2008-10-04            1             4
2008020003 3            0.369565  2008-10-05            1             1
           14           0.630434  2008-10-05            1             2
2008020004 5            0.508771  2008-10-05            1             3
           9            0.491228  2008-10-05            1             1
2008020005 10           0.355932  2008-10-09            1             2
           17           0.644067  2008-10-09            1             3

                   goalsAgainstPerGame  goalsFor  goalsForPerGame homeRoad  \
gameId     teamId
2008020001 3                       1.0         2              2.0        R
           14                      2.0         1              1.0        H
2008020002 5                       3.0         4              4.0        R
           9                       4.0         3              3.0        H
2008020003 3                       1.0         2              2.0        H
           14                      2.0         1              1.0        R
2008020004 5                       3.0         1              1.0        H
           9                       1.0         3              3.0        R
2008020005 10                      2.0         3              3.0        R
           17                      3.0         2              2.0        H

                   losses opponentTeamAbbrev  ...  minors  misconducts  \
gameId     teamId                             ...
2008020001 3            0                TBL  ...     4.0          0.0
           14           1                NYR  ...     7.0          0.0
2008020002 5            0                OTT  ...     6.0          0.0
           9            0                PIT  ...     7.0          0.0
2008020003 3            0                TBL  ...     5.0          0.0
           14           1                NYR  ...     4.0          0.0
2008020004 5            1                OTT  ...     5.0          0.0
           9            0                PIT  ...     8.0          0.0
2008020005 10           0                DET  ...     3.0          0.0
           17           1                TOR  ...     2.0          0.0

                   netPenalties  netPenaltiesPer60  penalties  \
gameId     teamId
2008020001 3                3.0           3.000000        4.0
           14              -3.0          -3.000000        7.0
2008020002 5                1.0           0.929033        6.0
           9               -1.0          -0.929033        7.0
2008020003 3               -1.0          -1.000000        6.0
           14               1.0           1.000000        5.0
2008020004 5                3.0           3.000000        5.0
           9               -3.0          -3.000000        8.0
2008020005 10              -1.0          -1.000000        3.0
           17               1.0           1.000000        2.0

                   penaltiesDrawnPer60  penaltiesTakenPer60  penaltyMinutes  \
gameId     teamId
2008020001 3                  7.000000             4.000000             8.0
           14                 4.000000             7.000000            14.0
2008020002 5                  6.503231             5.574198            12.0
           9                  5.574198             6.503231            14.0
2008020003 3                  5.000000             6.000000            15.0
           14                 6.000000             5.000000            13.0
2008020004 5                  8.000000             5.000000            10.0
           9                  5.000000             8.000000            16.0
2008020005 10                 2.000000             3.000000             6.0
           17                 3.000000             2.000000             4.0

                   penaltySecondsPerGame  totalPenaltiesDrawn
gameId     teamId
2008020001 3                       480.0                  7.0
           14                      840.0                  4.0
2008020002 5                       720.0                  7.0
           9                       840.0                  6.0
2008020003 3                       900.0                  5.0
           14                      780.0                  6.0
2008020004 5                       600.0                  8.0
           9                       960.0                  5.0
2008020005 10                      360.0                  2.0
           17                      240.0                  3.0

[10 rows x 157 columns]

In [34]:
df_11.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 34280 entries, ('2008020001', 3) to ('2022020990', 7)
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gameDate                 34280 non-null  object
 1   gamesPlayed              34280 non-null  int64
 2   homeRoad                 34280 non-null  object
 3   losses                   34280 non-null  int64
 4   opponentTeamAbbrev       34280 non-null  object
 5   otLosses                 34280 non-null  int64
 6   penaltyKillNetPct        33676 non-null  float64
 7   penaltyKillPct           33676 non-null  float64
 8   pkNetGoals               34280 non-null  int64
 9   pkNetGoalsPerGame        34280 non-null  float64
 10  pkTimeOnIcePerGame       34280 non-null  float64
 11  points                   34280 non-null  int64
 12  pointsPct                34280 non-null  float64
 13  ppGoalsAgainst           34280 non-null  int64
 14  ppGoalsAgainstPerGame    34280 non-null  float64
 15  shGoalsFor               34280 non-null  int64
 16  shGoalsForPerGame        34280 non-null  float64
 17  teamFullName             34280 non-null  object
 18  ties                     0 non-null      object
 19  timesShorthanded         34280 non-null  int64
 20  timesShorthandedPerGame  34280 non-null  float64
 21  wins                     34280 non-null  int64
dtypes: float64(8), int64(9), object(5)
memory usage: 6.5+ MB

In [35]:
cols_to_use = df_11.columns.difference(base.columns)
base = base.join(df_11[cols_to_use])
base.head(10)

                   faceoffWinPct    gameDate  gamesPlayed  goalsAgainst  \
gameId     teamId
2008020001 3            0.483870  2008-10-04            1             1
           14           0.516129  2008-10-04            1             2
2008020002 5            0.466666  2008-10-04            1             3
           9            0.533333  2008-10-04            1             4
2008020003 3            0.369565  2008-10-05            1             1
           14           0.630434  2008-10-05            1             2
2008020004 5            0.508771  2008-10-05            1             3
           9            0.491228  2008-10-05            1             1
2008020005 10           0.355932  2008-10-09            1             2
           17           0.644067  2008-10-09            1             3

                   goalsAgainstPerGame  goalsFor  goalsForPerGame homeRoad  \
gameId     teamId
2008020001 3                       1.0         2              2.0        R
           14                      2.0         1              1.0        H
2008020002 5                       3.0         4              4.0        R
           9                       4.0         3              3.0        H
2008020003 3                       1.0         2              2.0        H
           14                      2.0         1              1.0        R
2008020004 5                       3.0         1              1.0        H
           9                       1.0         3              3.0        R
2008020005 10                      2.0         3              3.0        R
           17                      3.0         2              2.0        H

                   losses opponentTeamAbbrev  ...  penaltySecondsPerGame  \
gameId     teamId                             ...
2008020001 3            0                TBL  ...                  480.0
           14           1                NYR  ...                  840.0
2008020002 5            0                OTT  ...                  720.0
           9            0                PIT  ...                  840.0
2008020003 3            0                TBL  ...                  900.0
           14           1                NYR  ...                  780.0
2008020004 5            1                OTT  ...                  600.0
           9            0                PIT  ...                  960.0
2008020005 10           0                DET  ...                  360.0
           17           1                TOR  ...                  240.0

                   totalPenaltiesDrawn  pkNetGoals  pkNetGoalsPerGame  \
gameId     teamId
2008020001 3                       7.0           0                0.0
           14                      4.0          -1               -1.0
2008020002 5                       7.0           0                0.0
           9                       6.0           1                1.0
2008020003 3                       5.0           0                0.0
           14                      6.0          -1               -1.0
2008020004 5                       8.0          -2               -2.0
           9                       5.0          -1               -1.0
2008020005 10                      2.0          -1               -1.0
           17                      3.0          -1               -1.0

                   pkTimeOnIcePerGame  pointsPct  ppGoalsAgainst  \
gameId     teamId
2008020001 3                    468.0        1.0               0
           14                   807.0        0.0               1
2008020002 5                    497.0        1.0               1
           9                    752.0        0.5               0
2008020003 3                    521.0        1.0               0
           14                   316.0        0.0               1
2008020004 5                    394.0        0.0               2
           9                    761.0        1.0               1
2008020005 10                   187.0        1.0               1
           17                   196.0        0.0               1

                   ppGoalsAgainstPerGame  shGoalsForPerGame  timesShorthanded
gameId     teamId
2008020001 3                         0.0                0.0                 4
           14                        1.0                0.0                 7
2008020002 5                         1.0                1.0                 6
           9                         0.0                1.0                 7
2008020003 3                         0.0                0.0                 5
           14                        1.0                0.0                 4
2008020004 5                         2.0                0.0                 4
           9                         1.0                0.0                 7
2008020005 10                        1.0                0.0                 3
           17                        1.0                0.0                 2

[10 rows x 165 columns]

In [36]:
df_12.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 33854 entries, ('2008020001', 3) to ('2022020990', 7)
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gameDate                 33854 non-null  object
 1   gamesPlayed              33854 non-null  int64
 2   goalsAgainst3v4          31394 non-null  float64
 3   goalsAgainst3v5          31394 non-null  float64
 4   goalsAgainst4v5          31394 non-null  float64
 5   homeRoad                 33854 non-null  object
 6   opponentTeamAbbrev       33854 non-null  object
 7   overallPenaltyKillPct    30808 non-null  float64
 8   penaltyKillPct3v4        2135 non-null   float64
 9   penaltyKillPct3v5        3652 non-null   float64
 10  penaltyKillPct4v5        30760 non-null  float64
 11  pointPct                 33854 non-null  float64
 12  shorthandedGoalsAgainst  31394 non-null  float64
 13  teamFullName             33854 non-null  object
 14  timeOnIce3v4             31394 non-null  float64
 15  timeOnIce3v5             31394 non-null  float64
 16  timeOnIce4v5             31394 non-null  float64
 17  timeOnIceShorthanded     31394 non-null  float64
 18  timesShorthanded         31394 non-null  float64
 19  timesShorthanded3v4      31394 non-null  float64
 20  timesShorthanded3v5      31394 non-null  float64
 21  timesShorthanded4v5      31394 non-null  float64
dtypes: float64(17), int64(1), object(4)
memory usage: 6.4+ MB

In [37]:
cols_to_use = df_12.columns.difference(base.columns)
base = base.join(df_12[cols_to_use])
base.head(10)

                   faceoffWinPct    gameDate  gamesPlayed  goalsAgainst  \
gameId     teamId
2008020001 3            0.483870  2008-10-04            1             1
           14           0.516129  2008-10-04            1             2
2008020002 5            0.466666  2008-10-04            1             3
           9            0.533333  2008-10-04            1             4
2008020003 3            0.369565  2008-10-05            1             1
           14           0.630434  2008-10-05            1             2
2008020004 5            0.508771  2008-10-05            1             3
           9            0.491228  2008-10-05            1             1
2008020005 10           0.355932  2008-10-09            1             2
           17           0.644067  2008-10-09            1             3

                   goalsAgainstPerGame  goalsFor  goalsForPerGame homeRoad  \
gameId     teamId
2008020001 3                       1.0         2              2.0        R
           14                      2.0         1              1.0        H
2008020002 5                       3.0         4              4.0        R
           9                       4.0         3              3.0        H
2008020003 3                       1.0         2              2.0        H
           14                      2.0         1              1.0        R
2008020004 5                       3.0         1              1.0        H
           9                       1.0         3              3.0        R
2008020005 10                      2.0         3              3.0        R
           17                      3.0         2              2.0        H

                   losses opponentTeamAbbrev  ...  penaltyKillPct3v5  \
gameId     teamId                             ...
2008020001 3            0                TBL  ...                NaN
           14           1                NYR  ...                NaN
2008020002 5            0                OTT  ...                NaN
           9            0                PIT  ...                NaN
2008020003 3            0                TBL  ...                NaN
           14           1                NYR  ...                NaN
2008020004 5            1                OTT  ...                NaN
           9            0                PIT  ...                NaN
2008020005 10           0                DET  ...                NaN
           17           1                TOR  ...                NaN

                   penaltyKillPct4v5  shorthandedGoalsAgainst  timeOnIce3v4  \
gameId     teamId
2008020001 3                     NaN                      NaN           NaN
           14                    NaN                      NaN           NaN
2008020002 5                     NaN                      NaN           NaN
           9                     NaN                      NaN           NaN
2008020003 3                     NaN                      NaN           NaN
           14                    NaN                      NaN           NaN
2008020004 5                     NaN                      NaN           NaN
           9                     NaN                      NaN           NaN
2008020005 10                    NaN                      NaN           NaN
           17                    NaN                      NaN           NaN

                   timeOnIce3v5  timeOnIce4v5  timeOnIceShorthanded  \
gameId     teamId
2008020001 3                NaN           NaN                   NaN
           14               NaN           NaN                   NaN
2008020002 5                NaN           NaN                   NaN
           9                NaN           NaN                   NaN
2008020003 3                NaN           NaN                   NaN
           14               NaN           NaN                   NaN
2008020004 5                NaN           NaN                   NaN
           9                NaN           NaN                   NaN
2008020005 10               NaN           NaN                   NaN
           17               NaN           NaN                   NaN

                   timesShorthanded3v4  timesShorthanded3v5  \
gameId     teamId
2008020001 3                       NaN                  NaN
           14                      NaN                  NaN
2008020002 5                       NaN                  NaN
           9                       NaN                  NaN
2008020003 3                       NaN                  NaN
           14                      NaN                  NaN
2008020004 5                       NaN                  NaN
           9                       NaN                  NaN
2008020005 10                      NaN                  NaN
           17                      NaN                  NaN

                   timesShorthanded4v5
gameId     teamId
2008020001 3                       NaN
           14                      NaN
2008020002 5                       NaN
           9                       NaN
2008020003 3                       NaN
           14                      NaN
2008020004 5                       NaN
           9                       NaN
2008020005 10                      NaN
           17                      NaN

[10 rows x 180 columns]

In [38]:
df_13.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 30531 entries, ('2009020001', 15) to ('2022020990', 4)
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gameDate                30531 non-null  object
 1   gamesPlayed             30531 non-null  int64
 2   goalsForPct             29560 non-null  float64
 3   homeRoad                30531 non-null  object
 4   opponentTeamAbbrev      30531 non-null  object
 5   pointPct                30531 non-null  float64
 6   points                  30531 non-null  int64
 7   satPct                  30527 non-null  float64
 8   satPctAhead             20106 non-null  float64
 9   satPctBehind            20088 non-null  float64
 10  satPctClose             30526 non-null  float64
 11  satPctTied              30034 non-null  float64
 12  savePct5v5              30376 non-null  float64
 13  shootingPct5v5          30367 non-null  float64
 14  shootingPlusSavePct5v5  30239 non-null  float64
 15  teamFullName            30531 non-null  object
 16  usatPct                 30527 non-null  float64
 17  usatPctAhead            20068 non-null  float64
 18  usatPctBehind           20044 non-null  float64
 19  usatPctClose            30523 non-null  float64
 20  usatPctTied             29870 non-null  float64
 21  zoneStartPct5v5         30527 non-null  float64
dtypes: float64(16), int64(2), object(4)
memory usage: 5.8+ MB

In [39]:
cols_to_use = df_13.columns.difference(base.columns)
base = base.join(df_13[cols_to_use])
base.head(10)

                   faceoffWinPct    gameDate  gamesPlayed  goalsAgainst  \
gameId     teamId
2008020001 3            0.483870  2008-10-04            1             1
           14           0.516129  2008-10-04            1             2
2008020002 5            0.466666  2008-10-04            1             3
           9            0.533333  2008-10-04            1             4
2008020003 3            0.369565  2008-10-05            1             1
           14           0.630434  2008-10-05            1             2
2008020004 5            0.508771  2008-10-05            1             3
           9            0.491228  2008-10-05            1             1
2008020005 10           0.355932  2008-10-09            1             2
           17           0.644067  2008-10-09            1             3

                   goalsAgainstPerGame  goalsFor  goalsForPerGame homeRoad  \
gameId     teamId
2008020001 3                       1.0         2              2.0        R
           14                      2.0         1              1.0        H
2008020002 5                       3.0         4              4.0        R
           9                       4.0         3              3.0        H
2008020003 3                       1.0         2              2.0        H
           14                      2.0         1              1.0        R
2008020004 5                       3.0         1              1.0        H
           9                       1.0         3              3.0        R
2008020005 10                      2.0         3              3.0        R
           17                      3.0         2              2.0        H

                   losses opponentTeamAbbrev  ...  satPctTied  savePct5v5  \
gameId     teamId                             ...
2008020001 3            0                TBL  ...         NaN         NaN
           14           1                NYR  ...         NaN         NaN
2008020002 5            0                OTT  ...         NaN         NaN
           9            0                PIT  ...         NaN         NaN
2008020003 3            0                TBL  ...         NaN         NaN
           14           1                NYR  ...         NaN         NaN
2008020004 5            1                OTT  ...         NaN         NaN
           9            0                PIT  ...         NaN         NaN
2008020005 10           0                DET  ...         NaN         NaN
           17           1                TOR  ...         NaN         NaN

                   shootingPct5v5  shootingPlusSavePct5v5  usatPct  \
gameId     teamId
2008020001 3                  NaN                     NaN      NaN
           14                 NaN                     NaN      NaN
2008020002 5                  NaN                     NaN      NaN
           9                  NaN                     NaN      NaN
2008020003 3                  NaN                     NaN      NaN
           14                 NaN                     NaN      NaN
2008020004 5                  NaN                     NaN      NaN
           9                  NaN                     NaN      NaN
2008020005 10                 NaN                     NaN      NaN
           17                 NaN                     NaN      NaN

                   usatPctAhead  usatPctBehind  usatPctClose  usatPctTied  \
gameId     teamId
2008020001 3                NaN            NaN           NaN          NaN
           14               NaN            NaN           NaN          NaN
2008020002 5                NaN            NaN           NaN          NaN
           9                NaN            NaN           NaN          NaN
2008020003 3                NaN            NaN           NaN          NaN
           14               NaN            NaN           NaN          NaN
2008020004 5                NaN            NaN           NaN          NaN
           9                NaN            NaN           NaN          NaN
2008020005 10               NaN            NaN           NaN          NaN
           17               NaN            NaN           NaN          NaN

                   zoneStartPct5v5
gameId     teamId
2008020001 3                   NaN
           14                  NaN
2008020002 5                   NaN
           9                   NaN
2008020003 3                   NaN
           14                  NaN
2008020004 5                   NaN
           9                   NaN
2008020005 10                  NaN
           17                  NaN

[10 rows x 195 columns]

In [40]:
df_14.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 34280 entries, ('2008020001', 3) to ('2022020990', 7)
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gameDate                34280 non-null  object
 1   gamesPlayed             34280 non-null  int64
 2   homeRoad                34280 non-null  object
 3   losses                  34280 non-null  int64
 4   opponentTeamAbbrev      34280 non-null  object
 5   otLosses                34280 non-null  int64
 6   pointPct                34280 non-null  float64
 7   points                  34280 non-null  int64
 8   powerPlayGoalsFor       34280 non-null  int64
 9   powerPlayNetPct         33676 non-null  float64
 10  powerPlayPct            33676 non-null  float64
 11  ppGoalsPerGame          34280 non-null  float64
 12  ppNetGoals              34280 non-null  int64
 13  ppNetGoalsPerGame       34280 non-null  float64
 14  ppOpportunities         34280 non-null  int64
 15  ppOpportunitiesPerGame  34280 non-null  float64
 16  ppTimeOnIcePerGame      34280 non-null  float64
 17  shGoalsAgainst          34280 non-null  int64
 18  shGoalsAgainstPerGame   34280 non-null  float64
 19  teamFullName            34280 non-null  object
 20  ties                    0 non-null      object
 21  wins                    34280 non-null  int64
dtypes: float64(8), int64(9), object(5)
memory usage: 6.5+ MB

In [41]:
cols_to_use = df_14.columns.difference(base.columns)
base = base.join(df_14[cols_to_use])
base.head(10)

                   faceoffWinPct    gameDate  gamesPlayed  goalsAgainst  \
gameId     teamId
2008020001 3            0.483870  2008-10-04            1             1
           14           0.516129  2008-10-04            1             2
2008020002 5            0.466666  2008-10-04            1             3
           9            0.533333  2008-10-04            1             4
2008020003 3            0.369565  2008-10-05            1             1
           14           0.630434  2008-10-05            1             2
2008020004 5            0.508771  2008-10-05            1             3
           9            0.491228  2008-10-05            1             1
2008020005 10           0.355932  2008-10-09            1             2
           17           0.644067  2008-10-09            1             3

                   goalsAgainstPerGame  goalsFor  goalsForPerGame homeRoad  \
gameId     teamId
2008020001 3                       1.0         2              2.0        R
           14                      2.0         1              1.0        H
2008020002 5                       3.0         4              4.0        R
           9                       4.0         3              3.0        H
2008020003 3                       1.0         2              2.0        H
           14                      2.0         1              1.0        R
2008020004 5                       3.0         1              1.0        H
           9                       1.0         3              3.0        R
2008020005 10                      2.0         3              3.0        R
           17                      3.0         2              2.0        H

                   losses opponentTeamAbbrev  ...  usatPctTied  \
gameId     teamId                             ...
2008020001 3            0                TBL  ...          NaN
           14           1                NYR  ...          NaN
2008020002 5            0                OTT  ...          NaN
           9            0                PIT  ...          NaN
2008020003 3            0                TBL  ...          NaN
           14           1                NYR  ...          NaN
2008020004 5            1                OTT  ...          NaN
           9            0                PIT  ...          NaN
2008020005 10           0                DET  ...          NaN
           17           1                TOR  ...          NaN

                   zoneStartPct5v5  powerPlayGoalsFor  ppGoalsPerGame  \
gameId     teamId
2008020001 3                   NaN                  1             1.0
           14                  NaN                  0             0.0
2008020002 5                   NaN                  0             0.0
           9                   NaN                  1             1.0
2008020003 3                   NaN                  1             1.0
           14                  NaN                  0             0.0
2008020004 5                   NaN                  1             1.0
           9                   NaN                  2             2.0
2008020005 10                  NaN                  1             1.0
           17                  NaN                  1             1.0

                   ppNetGoals  ppNetGoalsPerGame  ppOpportunities  \
gameId     teamId
2008020001 3                1                1.0                7
           14               0                0.0                4
2008020002 5               -1               -1.0                7
           9                0                0.0                6
2008020003 3                1                1.0                4
           14               0                0.0                5
2008020004 5                1                1.0                7
           9                2                2.0                4
2008020005 10               1                1.0                2
           17               1                1.0                3

                   ppTimeOnIcePerGame  shGoalsAgainst  shGoalsAgainstPerGame
gameId     teamId
2008020001 3                    807.0               0                    0.0
           14                   468.0               0                    0.0
2008020002 5                    752.0               1                    1.0
           9                    497.0               1                    1.0
2008020003 3                    316.0               0                    0.0
           14                   521.0               0                    0.0
2008020004 5                    761.0               0                    0.0
           9                    394.0               0                    0.0
2008020005 10                   196.0               0                    0.0
           17                   187.0               0                    0.0

[10 rows x 203 columns]

In [42]:
df_15.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 31609 entries, ('2009020001', 6) to ('2022020990', 7)
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gameDate             31609 non-null  object
 1   gamesPlayed          31609 non-null  int64
 2   goals4v3             31609 non-null  int64
 3   goals5v3             31609 non-null  int64
 4   goals5v4             31609 non-null  int64
 5   homeRoad             31609 non-null  object
 6   opponentTeamAbbrev   31609 non-null  object
 7   opportunities4v3     31609 non-null  int64
 8   opportunities5v3     31609 non-null  int64
 9   opportunities5v4     31609 non-null  int64
 10  overallPowerPlayPct  31019 non-null  float64
 11  pointPct             31609 non-null  float64
 12  powerPlayGoalsFor    31609 non-null  int64
 13  powerPlayPct4v3      2160 non-null   float64
 14  powerPlayPct5v3      3683 non-null   float64
 15  powerPlayPct5v4      30969 non-null  float64
 16  ppOpportunities      31609 non-null  int64
 17  teamFullName         31609 non-null  object
 18  timeOnIce4v3         31609 non-null  int64
 19  timeOnIce5v3         31609 non-null  int64
 20  timeOnIce5v4         31609 non-null  int64
 21  timeOnIcePp          31609 non-null  int64
dtypes: float64(5), int64(13), object(4)
memory usage: 6.0+ MB

In [43]:
cols_to_use = df_15.columns.difference(base.columns)
base = base.join(df_15[cols_to_use])
base.head(10)

                   faceoffWinPct    gameDate  gamesPlayed  goalsAgainst  \
gameId     teamId
2008020001 3            0.483870  2008-10-04            1             1
           14           0.516129  2008-10-04            1             2
2008020002 5            0.466666  2008-10-04            1             3
           9            0.533333  2008-10-04            1             4
2008020003 3            0.369565  2008-10-05            1             1
           14           0.630434  2008-10-05            1             2
2008020004 5            0.508771  2008-10-05            1             3
           9            0.491228  2008-10-05            1             1
2008020005 10           0.355932  2008-10-09            1             2
           17           0.644067  2008-10-09            1             3

                   goalsAgainstPerGame  goalsFor  goalsForPerGame homeRoad  \
gameId     teamId
2008020001 3                       1.0         2              2.0        R
           14                      2.0         1              1.0        H
2008020002 5                       3.0         4              4.0        R
           9                       4.0         3              3.0        H
2008020003 3                       1.0         2              2.0        H
           14                      2.0         1              1.0        R
2008020004 5                       3.0         1              1.0        H
           9                       1.0         3              3.0        R
2008020005 10                      2.0         3              3.0        R
           17                      3.0         2              2.0        H

                   losses opponentTeamAbbrev  ...  opportunities5v3  \
gameId     teamId                             ...
2008020001 3            0                TBL  ...               NaN
           14           1                NYR  ...               NaN
2008020002 5            0                OTT  ...               NaN
           9            0                PIT  ...               NaN
2008020003 3            0                TBL  ...               NaN
           14           1                NYR  ...               NaN
2008020004 5            1                OTT  ...               NaN
           9            0                PIT  ...               NaN
2008020005 10           0                DET  ...               NaN
           17           1                TOR  ...               NaN

                   opportunities5v4  overallPowerPlayPct  powerPlayPct4v3  \
gameId     teamId
2008020001 3                    NaN                  NaN              NaN
           14                   NaN                  NaN              NaN
2008020002 5                    NaN                  NaN              NaN
           9                    NaN                  NaN              NaN
2008020003 3                    NaN                  NaN              NaN
           14                   NaN                  NaN              NaN
2008020004 5                    NaN                  NaN              NaN
           9                    NaN                  NaN              NaN
2008020005 10                   NaN                  NaN              NaN
           17                   NaN                  NaN              NaN

                   powerPlayPct5v3  powerPlayPct5v4  timeOnIce4v3  \
gameId     teamId
2008020001 3                   NaN              NaN           NaN
           14                  NaN              NaN           NaN
2008020002 5                   NaN              NaN           NaN
           9                   NaN              NaN           NaN
2008020003 3                   NaN              NaN           NaN
           14                  NaN              NaN           NaN
2008020004 5                   NaN              NaN           NaN
           9                   NaN              NaN           NaN
2008020005 10                  NaN              NaN           NaN
           17                  NaN              NaN           NaN

                   timeOnIce5v3  timeOnIce5v4  timeOnIcePp
gameId     teamId
2008020001 3                NaN           NaN          NaN
           14               NaN           NaN          NaN
2008020002 5                NaN           NaN          NaN
           9                NaN           NaN          NaN
2008020003 3                NaN           NaN          NaN
           14               NaN           NaN          NaN
2008020004 5                NaN           NaN          NaN
           9                NaN           NaN          NaN
2008020005 10               NaN           NaN          NaN
           17               NaN           NaN          NaN

[10 rows x 217 columns]

In [44]:
print(base.shape)
base.timeOnIce5v4.isnull().sum()

(34280, 217)

2671

In [45]:
df_16.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 31828 entries, ('2008020001', 3) to ('2022020990', 7)
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   blockedShots         31828 non-null  int64
 1   blockedShotsPer60    31828 non-null  float64
 2   emptyNetGoals        31828 non-null  int64
 3   gameDate             31828 non-null  object
 4   gamesPlayed          31828 non-null  int64
 5   giveaways            31828 non-null  int64
 6   giveawaysPer60       31828 non-null  float64
 7   hits                 31828 non-null  int64
 8   hitsPer60            31828 non-null  float64
 9   homeRoad             31828 non-null  object
 10  missedShots          31828 non-null  int64
 11  opponentTeamAbbrev   31828 non-null  object
 12  satPct               29384 non-null  float64
 13  takeaways            31828 non-null  int64
 14  takeawaysPer60       31828 non-null  float64
 15  teamFullName         31828 non-null  object
 16  timeOnIcePerGame5v5  29386 non-null  float64
dtypes: float64(6), int64(7), object(4)
memory usage: 4.9+ MB

In [46]:
cols_to_use = df_16.columns.difference(base.columns)
base = base.join(df_16[cols_to_use])
base.head(10)

                   faceoffWinPct    gameDate  gamesPlayed  goalsAgainst  \
gameId     teamId
2008020001 3            0.483870  2008-10-04            1             1
           14           0.516129  2008-10-04            1             2
2008020002 5            0.466666  2008-10-04            1             3
           9            0.533333  2008-10-04            1             4
2008020003 3            0.369565  2008-10-05            1             1
           14           0.630434  2008-10-05            1             2
2008020004 5            0.508771  2008-10-05            1             3
           9            0.491228  2008-10-05            1             1
2008020005 10           0.355932  2008-10-09            1             2
           17           0.644067  2008-10-09            1             3

                   goalsAgainstPerGame  goalsFor  goalsForPerGame homeRoad  \
gameId     teamId
2008020001 3                       1.0         2              2.0        R
           14                      2.0         1              1.0        H
2008020002 5                       3.0         4              4.0        R
           9                       4.0         3              3.0        H
2008020003 3                       1.0         2              2.0        H
           14                      2.0         1              1.0        R
2008020004 5                       3.0         1              1.0        H
           9                       1.0         3              3.0        R
2008020005 10                      2.0         3              3.0        R
           17                      3.0         2              2.0        H

                   losses opponentTeamAbbrev  ...  blockedShotsPer60  \
gameId     teamId                             ...
2008020001 3            0                TBL  ...             5.9976
           14           1                NYR  ...            12.9996
2008020002 5            0                OTT  ...            10.2168
           9            0                PIT  ...            19.5084
2008020003 3            0                TBL  ...            11.9988
           14           1                NYR  ...                NaN
2008020004 5            1                OTT  ...            14.9976
           9            0                PIT  ...            13.9968
2008020005 10           0                DET  ...            10.9980
           17           1                TOR  ...             9.0000

                   emptyNetGoals  giveaways  giveawaysPer60  hits  hitsPer60  \
gameId     teamId
2008020001 3                 0.0        8.0          7.9992  16.0    15.9984
           14                0.0        6.0          5.9976  17.0    16.9992
2008020002 5                 0.0       14.0         13.0032  23.0    21.3660
           9                 0.0       15.0         13.9320  39.0    36.2304
2008020003 3                 0.0       10.0          9.9972  10.0     9.9972
           14                NaN        NaN             NaN   NaN        NaN
2008020004 5                 0.0        9.0          9.0000  32.0    31.9968
           9                 0.0       10.0          9.9972  23.0    22.9968
2008020005 10                0.0        5.0          4.9968  17.0    16.9992
           17                0.0       18.0         18.0000  19.0    18.9972

                   missedShots  takeaways  takeawaysPer60  timeOnIcePerGame5v5
gameId     teamId
2008020001 3              12.0       19.0         18.9972                  NaN
           14             10.0       11.0         10.9980                  NaN
2008020002 5              13.0       11.0         10.2168                  NaN
           9              12.0       10.0          9.2880                  NaN
2008020003 3              13.0       12.0         11.9988                  NaN
           14              NaN        NaN             NaN                  NaN
2008020004 5               6.0        7.0          6.9984                  NaN
           9              14.0        8.0          7.9992                  NaN
2008020005 10              4.0        6.0          5.9976                  NaN
           17             12.0        6.0          5.9976                  NaN

[10 rows x 228 columns]

In [47]:
df_17.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 34260 entries, ('2008020001', 3) to ('2022020990', 7)
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gameDate                  34260 non-null  object
 1   gamesPlayed               34260 non-null  int64
 2   homeRoad                  34260 non-null  object
 3   losses                    34260 non-null  int64
 4   lossesScoringFirst        34260 non-null  int64
 5   lossesTrailingFirst       34260 non-null  int64
 6   opponentTeamAbbrev        34260 non-null  object
 7   otLosses                  34260 non-null  int64
 8   otLossesScoringFirst      34260 non-null  int64
 9   otLossesTrailingFirst     34260 non-null  int64
 10  points                    34260 non-null  int64
 11  scoringFirstGamesPlayed   34260 non-null  int64
 12  teamFullName              34260 non-null  object
 13  ties                      0 non-null      object
 14  tiesScoringFirst          34260 non-null  int64
 15  tiesTrailingFirst         34260 non-null  int64
 16  trailingFirstGamesPlayed  34260 non-null  int64
 17  winPctScoringFirst        17128 non-null  float64
 18  winPctTrailingFirst       17132 non-null  float64
 19  wins                      34260 non-null  int64
 20  winsScoringFirst          34260 non-null  int64
 21  winsTrailingFirst         34260 non-null  int64
dtypes: float64(2), int64(15), object(5)
memory usage: 6.5+ MB

In [48]:
cols_to_use = df_17.columns.difference(base.columns)
base = base.join(df_17[cols_to_use])
base.head(10)

                   faceoffWinPct    gameDate  gamesPlayed  goalsAgainst  \
gameId     teamId
2008020001 3            0.483870  2008-10-04            1             1
           14           0.516129  2008-10-04            1             2
2008020002 5            0.466666  2008-10-04            1             3
           9            0.533333  2008-10-04            1             4
2008020003 3            0.369565  2008-10-05            1             1
           14           0.630434  2008-10-05            1             2
2008020004 5            0.508771  2008-10-05            1             3
           9            0.491228  2008-10-05            1             1
2008020005 10           0.355932  2008-10-09            1             2
           17           0.644067  2008-10-09            1             3

                   goalsAgainstPerGame  goalsFor  goalsForPerGame homeRoad  \
gameId     teamId
2008020001 3                       1.0         2              2.0        R
           14                      2.0         1              1.0        H
2008020002 5                       3.0         4              4.0        R
           9                       4.0         3              3.0        H
2008020003 3                       1.0         2              2.0        H
           14                      2.0         1              1.0        R
2008020004 5                       3.0         1              1.0        H
           9                       1.0         3              3.0        R
2008020005 10                      2.0         3              3.0        R
           17                      3.0         2              2.0        H

                   losses opponentTeamAbbrev  ...  otLossesScoringFirst  \
gameId     teamId                             ...
2008020001 3            0                TBL  ...                   0.0
           14           1                NYR  ...                   0.0
2008020002 5            0                OTT  ...                   0.0
           9            0                PIT  ...                   0.0
2008020003 3            0                TBL  ...                   0.0
           14           1                NYR  ...                   0.0
2008020004 5            1                OTT  ...                   0.0
           9            0                PIT  ...                   0.0
2008020005 10           0                DET  ...                   0.0
           17           1                TOR  ...                   0.0

                   otLossesTrailingFirst  scoringFirstGamesPlayed  \
gameId     teamId
2008020001 3                         0.0                      1.0
           14                        0.0                      0.0
2008020002 5                         0.0                      1.0
           9                         1.0                      0.0
2008020003 3                         0.0                      0.0
           14                        0.0                      1.0
2008020004 5                         0.0                      0.0
           9                         0.0                      1.0
2008020005 10                        0.0                      1.0
           17                        0.0                      0.0

                   tiesScoringFirst  tiesTrailingFirst  \
gameId     teamId
2008020001 3                    0.0                0.0
           14                   0.0                0.0
2008020002 5                    0.0                0.0
           9                    0.0                0.0
2008020003 3                    0.0                0.0
           14                   0.0                0.0
2008020004 5                    0.0                0.0
           9                    0.0                0.0
2008020005 10                   0.0                0.0
           17                   0.0                0.0

                   trailingFirstGamesPlayed  winPctScoringFirst  \
gameId     teamId
2008020001 3                            0.0                 1.0
           14                           1.0                 NaN
2008020002 5                            0.0                 1.0
           9                            1.0                 NaN
2008020003 3                            1.0                 NaN
           14                           0.0                 0.0
2008020004 5                            1.0                 NaN
           9                            0.0                 1.0
2008020005 10                           0.0                 1.0
           17                           1.0                 NaN

                   winPctTrailingFirst  winsScoringFirst  winsTrailingFirst
gameId     teamId
2008020001 3                       NaN               1.0                0.0
           14                      0.0               0.0                0.0
2008020002 5                       NaN               1.0                0.0
           9                       0.0               0.0                0.0
2008020003 3                       1.0               0.0                1.0
           14                      NaN               0.0                0.0
2008020004 5                       0.0               0.0                0.0
           9                       NaN               1.0                0.0
2008020005 10                      NaN               1.0                0.0
           17                      0.0               0.0                0.0

[10 rows x 240 columns]

In [49]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 29975 entries, ('2008020001', 3) to ('2022020990', 4)
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gameDate                     29975 non-null  object
 1   gamesPlayed                  29975 non-null  int64
 2   homeRoad                     29975 non-null  object
 3   losses                       29975 non-null  int64
 4   opponentTeamAbbrev           29975 non-null  object
 5   otLosses                     29975 non-null  int64
 6   pointPct                     29975 non-null  float64
 7   points                       29975 non-null  int64
 8   shootoutGamesPlayed          29975 non-null  int64
 9   shootoutGoals                29975 non-null  int64
 10  shootoutGoalsAgainst         29975 non-null  int64
 11  shootoutLosses               29975 non-null  int64
 12  shootoutPoints               29975 non-null  int64
 13  shootoutSavePct              3162 non-null   float64
 14  shootoutSaves                29975 non-null  int64
 15  shootoutShootingPct          3163 non-null   float64
 16  shootoutShootingPlusSavePct  3163 non-null   float64
 17  shootoutShots                29975 non-null  int64
 18  shootoutShotsAgainst         29975 non-null  int64
 19  shootoutWinPct               3163 non-null   float64
 20  shootoutWins                 29975 non-null  int64
 21  teamFullName                 29975 non-null  object
 22  ties                         0 non-null      object
 23  wins                         29975 non-null  int64
dtypes: float64(5), int64(14), object(5)
memory usage: 6.2+ MB

In [50]:
cols_to_use = df_18.columns.difference(base.columns)
base = base.join(df_18[cols_to_use])
base.head(10)

                   faceoffWinPct    gameDate  gamesPlayed  goalsAgainst  \
gameId     teamId
2008020001 3            0.483870  2008-10-04            1             1
           14           0.516129  2008-10-04            1             2
2008020002 5            0.466666  2008-10-04            1             3
           9            0.533333  2008-10-04            1             4
2008020003 3            0.369565  2008-10-05            1             1
           14           0.630434  2008-10-05            1             2
2008020004 5            0.508771  2008-10-05            1             3
           9            0.491228  2008-10-05            1             1
2008020005 10           0.355932  2008-10-09            1             2
           17           0.644067  2008-10-09            1             3

                   goalsAgainstPerGame  goalsFor  goalsForPerGame homeRoad  \
gameId     teamId
2008020001 3                       1.0         2              2.0        R
           14                      2.0         1              1.0        H
2008020002 5                       3.0         4              4.0        R
           9                       4.0         3              3.0        H
2008020003 3                       1.0         2              2.0        H
           14                      2.0         1              1.0        R
2008020004 5                       3.0         1              1.0        H
           9                       1.0         3              3.0        R
2008020005 10                      2.0         3              3.0        R
           17                      3.0         2              2.0        H

                   losses opponentTeamAbbrev  ...  shootoutLosses  \
gameId     teamId                             ...
2008020001 3            0                TBL  ...             0.0
           14           1                NYR  ...             NaN
2008020002 5            0                OTT  ...             0.0
           9            0                PIT  ...             0.0
2008020003 3            0                TBL  ...             0.0
           14           1                NYR  ...             0.0
2008020004 5            1                OTT  ...             0.0
           9            0                PIT  ...             0.0
2008020005 10           0                DET  ...             0.0
           17           1                TOR  ...             0.0

                   shootoutPoints  shootoutSavePct  shootoutSaves  \
gameId     teamId
2008020001 3                  0.0              NaN            0.0
           14                 NaN              NaN            NaN
2008020002 5                  0.0              NaN            0.0
           9                  0.0              NaN            0.0
2008020003 3                  0.0              NaN            0.0
           14                 0.0              NaN            0.0
2008020004 5                  0.0              NaN            0.0
           9                  0.0              NaN            0.0
2008020005 10                 0.0              NaN            0.0
           17                 0.0              NaN            0.0

                   shootoutShootingPct  shootoutShootingPlusSavePct  \
gameId     teamId
2008020001 3                       NaN                          NaN
           14                      NaN                          NaN
2008020002 5                       NaN                          NaN
           9                       NaN                          NaN
2008020003 3                       NaN                          NaN
           14                      NaN                          NaN
2008020004 5                       NaN                          NaN
           9                       NaN                          NaN
2008020005 10                      NaN                          NaN
           17                      NaN                          NaN

                   shootoutShots  shootoutShotsAgainst  shootoutWinPct  \
gameId     teamId
2008020001 3                 0.0                   0.0             NaN
           14                NaN                   NaN             NaN
2008020002 5                 0.0                   0.0             NaN
           9                 0.0                   0.0             NaN
2008020003 3                 0.0                   0.0             NaN
           14                0.0                   0.0             NaN
2008020004 5                 0.0                   0.0             NaN
           9                 0.0                   0.0             NaN
2008020005 10                0.0                   0.0             NaN
           17                0.0                   0.0             NaN

                   shootoutWins
gameId     teamId
2008020001 3                0.0
           14               NaN
2008020002 5                0.0
           9                0.0
2008020003 3                0.0
           14               0.0
2008020004 5                0.0
           9                0.0
2008020005 10               0.0
           17               0.0

[10 rows x 253 columns]

In [58]:
import numpy as np
df_19.info()
df_19.head()
# df_19.loc[df_19["shotsOnNetSlap"] == "NaN", "shotsOnNetSlap"] = np.nan
df_19[df_19["shotsOnNetSlap"].isna()]

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 34280 entries, ('2008020001.0', 3) to ('nan', 14)
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gameDate               34280 non-null  object
 1   gamesPlayed            34280 non-null  int64
 2   goalsBackhand          31818 non-null  float64
 3   goalsDeflected         31818 non-null  float64
 4   goalsFor               34280 non-null  int64
 5   goalsSlap              31818 non-null  float64
 6   goalsSnap              31818 non-null  float64
 7   goalsTipIn             31818 non-null  float64
 8   goalsWrapAround        31818 non-null  float64
 9   goalsWrist             31818 non-null  float64
 10  homeRoad               34280 non-null  object
 11  opponentTeamAbbrev     34280 non-null  object
 12  shootingPct            34280 non-null  float64
 13  shootingPctBackhand    28845 non-null  float64
 14  shootingPctDeflected   9484 non-null   float64
 15  shootingPctSlap        31292 non-null  float64
 16  shootingPctSnap        28139 non-null  float64
 17  shootingPctTipIn       22193 non-null  float64
 18  shootingPctWrapAround  8986 non-null   float64
 19  shootingPctWrist       31702 non-null  float64
 20  shotsOnNet             34280 non-null  int64
 21  shotsOnNetBackhand     31818 non-null  float64
 22  shotsOnNetDeflected    31818 non-null  float64
 23  shotsOnNetSlap         31818 non-null  float64
 24  shotsOnNetSnap         31818 non-null  float64
 25  shotsOnNetTipIn        31818 non-null  float64
 26  shotsOnNetWrapAround   31818 non-null  float64
 27  shotsOnNetWrist        31818 non-null  float64
 28  teamFullName           34280 non-null  object
dtypes: float64(22), int64(3), object(4)
memory usage: 8.3+ MB

                       gameDate  gamesPlayed  goalsBackhand  goalsDeflected  \
gameId       teamId
2008020001.0 3       2008-10-04            1            NaN             NaN
             14      2008-10-04            1            NaN             NaN
2008020002.0 5       2008-10-04            1            NaN             NaN
             9       2008-10-04            1            NaN             NaN
2008020003.0 3       2008-10-05            1            NaN             NaN
...                         ...          ...            ...             ...
2008021229.0 4       2009-04-12            1            NaN             NaN
2008021230.0 16      2009-04-12            1            NaN             NaN
             17      2009-04-12            1            NaN             NaN
nan          13      2010-01-16            1            NaN             NaN
             14      2010-01-16            1            NaN             NaN

                     goalsFor  goalsSlap  goalsSnap  goalsTipIn  \
gameId       teamId
2008020001.0 3              2        NaN        NaN         NaN
             14             1        NaN        NaN         NaN
2008020002.0 5              4        NaN        NaN         NaN
             9              3        NaN        NaN         NaN
2008020003.0 3              2        NaN        NaN         NaN
...                       ...        ...        ...         ...
2008021229.0 4              3        NaN        NaN         NaN
2008021230.0 16             3        NaN        NaN         NaN
             17             0        NaN        NaN         NaN
nan          13             5        NaN        NaN         NaN
             14             2        NaN        NaN         NaN

                     goalsWrapAround  goalsWrist  ... shootingPctWrist  \
gameId       teamId                               ...
2008020001.0 3                   NaN         NaN  ...              NaN
             14                  NaN         NaN  ...              NaN
2008020002.0 5                   NaN         NaN  ...              NaN
             9                   NaN         NaN  ...              NaN
2008020003.0 3                   NaN         NaN  ...              NaN
...                              ...         ...  ...              ...
2008021229.0 4                   NaN         NaN  ...              NaN
2008021230.0 16                  NaN         NaN  ...              NaN
             17                  NaN         NaN  ...              NaN
nan          13                  NaN         NaN  ...              NaN
             14                  NaN         NaN  ...              NaN

                    shotsOnNet  shotsOnNetBackhand  shotsOnNetDeflected  \
gameId       teamId
2008020001.0 3              41                 NaN                  NaN
             14             21                 NaN                  NaN
2008020002.0 5              30                 NaN                  NaN
             9              35                 NaN                  NaN
2008020003.0 3              39                 NaN                  NaN
...                        ...                 ...                  ...
2008021229.0 4              31                 NaN                  NaN
2008021230.0 16             23                 NaN                  NaN
             17             37                 NaN                  NaN
nan          13             23                 NaN                  NaN
             14             49                 NaN                  NaN

                     shotsOnNetSlap  shotsOnNetSnap  shotsOnNetTipIn  \
gameId       teamId
2008020001.0 3                  NaN             NaN              NaN
             14                 NaN             NaN              NaN
2008020002.0 5                  NaN             NaN              NaN
             9                  NaN             NaN              NaN
2008020003.0 3                  NaN             NaN              NaN
...                             ...             ...              ...
2008021229.0 4                  NaN             NaN              NaN
2008021230.0 16                 NaN             NaN              NaN
             17                 NaN             NaN              NaN
nan          13                 NaN             NaN              NaN
             14                 NaN             NaN              NaN

                     shotsOnNetWrapAround  shotsOnNetWrist  \
gameId       teamId
2008020001.0 3                        NaN              NaN
             14                       NaN              NaN
2008020002.0 5                        NaN              NaN
             9                        NaN              NaN
2008020003.0 3                        NaN              NaN
...                                   ...              ...
2008021229.0 4                        NaN              NaN
2008021230.0 16                       NaN              NaN
             17                       NaN              NaN
nan          13                       NaN              NaN
             14                       NaN              NaN

                            teamFullName
gameId       teamId
2008020001.0 3          New York Rangers
             14      Tampa Bay Lightning
2008020002.0 5       Pittsburgh Penguins
             9           Ottawa Senators
2008020003.0 3          New York Rangers
...                                  ...
2008021229.0 4       Philadelphia Flyers
2008021230.0 16       Chicago Blackhawks
             17        Detroit Red Wings
nan          13         Florida Panthers
             14      Tampa Bay Lightning

[2462 rows x 29 columns]

In [ ]:
cols_to_use = df_19.columns.difference(base.columns)
base = base.join(df_19[cols_to_use])
base.head(10)

                   faceoffWinPct    gameDate  gamesPlayed  goalsAgainst  \
gameId     teamId
2008020001 3            0.483870  2008-10-04            1             1
           14           0.516129  2008-10-04            1             2
2008020002 5            0.466666  2008-10-04            1             3
           9            0.533333  2008-10-04            1             4
2008020003 3            0.369565  2008-10-05            1             1
           14           0.630434  2008-10-05            1             2
2008020004 5            0.508771  2008-10-05            1             3
           9            0.491228  2008-10-05            1             1
2008020005 10           0.355932  2008-10-09            1             2
           17           0.644067  2008-10-09            1             3

                   goalsAgainstPerGame  goalsFor  goalsForPerGame homeRoad  \
gameId     teamId
2008020001 3                       1.0         2              2.0        R
           14                      2.0         1              1.0        H
2008020002 5                       3.0         4              4.0        R
           9                       4.0         3              3.0        H
2008020003 3                       1.0         2              2.0        H
           14                      2.0         1              1.0        R
2008020004 5                       3.0         1              1.0        H
           9                       1.0         3              3.0        R
2008020005 10                      2.0         3              3.0        R
           17                      3.0         2              2.0        H

                   losses opponentTeamAbbrev  ...  shootingPctWrapAround  \
gameId     teamId                             ...
2008020001 3            0                TBL  ...                    NaN
           14           1                NYR  ...                    NaN
2008020002 5            0                OTT  ...                    NaN
           9            0                PIT  ...                    NaN
2008020003 3            0                TBL  ...                    NaN
           14           1                NYR  ...                    NaN
2008020004 5            1                OTT  ...                    NaN
           9            0                PIT  ...                    NaN
2008020005 10           0                DET  ...                    NaN
           17           1                TOR  ...                    NaN

                   shootingPctWrist  shotsOnNet  shotsOnNetBackhand  \
gameId     teamId
2008020001 3                    NaN         NaN                 NaN
           14                   NaN         NaN                 NaN
2008020002 5                    NaN         NaN                 NaN
           9                    NaN         NaN                 NaN
2008020003 3                    NaN         NaN                 NaN
           14                   NaN         NaN                 NaN
2008020004 5                    NaN         NaN                 NaN
           9                    NaN         NaN                 NaN
2008020005 10                   NaN         NaN                 NaN
           17                   NaN         NaN                 NaN

                   shotsOnNetDeflected  shotsOnNetSlap  shotsOnNetSnap  \
gameId     teamId
2008020001 3                       NaN             NaN             NaN
           14                      NaN             NaN             NaN
2008020002 5                       NaN             NaN             NaN
           9                       NaN             NaN             NaN
2008020003 3                       NaN             NaN             NaN
           14                      NaN             NaN             NaN
2008020004 5                       NaN             NaN             NaN
           9                       NaN             NaN             NaN
2008020005 10                      NaN             NaN             NaN
           17                      NaN             NaN             NaN

                   shotsOnNetTipIn  shotsOnNetWrapAround  shotsOnNetWrist
gameId     teamId
2008020001 3                   NaN                   NaN              NaN
           14                  NaN                   NaN              NaN
2008020002 5                   NaN                   NaN              NaN
           9                   NaN                   NaN              NaN
2008020003 3                   NaN                   NaN              NaN
           14                  NaN                   NaN              NaN
2008020004 5                   NaN                   NaN              NaN
           9                   NaN                   NaN              NaN
2008020005 10                  NaN                   NaN              NaN
           17                  NaN                   NaN              NaN

[10 rows x 276 columns]

In [ ]:
print(base.shape)
base.shotsOnNetWrapAround.isnull().sum()

(34280, 276)

34280

In [59]:
df_20.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 33811 entries, ('2009020001.0', 6.0) to ('nan', nan)
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   gameDate            33811 non-null  object
 1   gamesPlayed         33811 non-null  int64
 2   homeRoad            33811 non-null  object
 3   opponentTeamAbbrev  33811 non-null  object
 4   satAgainst          31349 non-null  float64
 5   satAhead            30895 non-null  float64
 6   satBehind           30923 non-null  float64
 7   satClose            31348 non-null  float64
 8   satFor              31349 non-null  float64
 9   satTied             31253 non-null  float64
 10  satTotal            31349 non-null  float64
 11  shots5v5            31349 non-null  float64
 12  teamFullName        33811 non-null  object
 13  usatAgainst         31349 non-null  float64
 14  usatAhead           30880 non-null  float64
 15  usatBehind          30905 non-null  float64
 16  usatClose           31344 non-null  float64
 17  usatFor             31349 non-null  float64
 18  usatTied            31237 non-null  float64
 19  usatTotal           31349 non-null  float64
dtypes: float64(15), int64(1), object(4)
memory usage: 5.9+ MB

In [ ]:
cols_to_use = df_20.columns.difference(base.columns)
base = base.join(df_20[cols_to_use])
base.head(10)

In [ ]:
base.to_parquet('data/joined_team_data.parquet.gzip')
base = pandas.read_parquet('data/joined_team_data.parquet.gzip')
base.info()