In [1388]:
import pandas
import os
p = os.walk('/Users/brandonalpert/Documents/Repositories/BoogaDev/data/team/')
l = list(p)[0][1]

In [1389]:
df_0 = pandas.read_parquet(f'/Users/brandonalpert/Documents/Repositories/BoogaDev/data/team/{l[0]}/data.parquet.gzip')
df_1 = pandas.read_parquet(f'/Users/brandonalpert/Documents/Repositories/BoogaDev/data/team/{l[1]}/data.parquet.gzip')
df_2 = pandas.read_parquet(f'/Users/brandonalpert/Documents/Repositories/BoogaDev/data/team/{l[2]}/data.parquet.gzip')
df_3 = pandas.read_parquet(f'/Users/brandonalpert/Documents/Repositories/BoogaDev/data/team/{l[3]}/data.parquet.gzip')
df_4 = pandas.read_parquet(f'/Users/brandonalpert/Documents/Repositories/BoogaDev/data/team/{l[4]}/data.parquet.gzip')
df_5 = pandas.read_parquet(f'/Users/brandonalpert/Documents/Repositories/BoogaDev/data/team/{l[5]}/data.parquet.gzip')
df_6 = pandas.read_parquet(f'/Users/brandonalpert/Documents/Repositories/BoogaDev/data/team/{l[6]}/data.parquet.gzip')
df_7 = pandas.read_parquet(f'/Users/brandonalpert/Documents/Repositories/BoogaDev/data/team/{l[7]}/data.parquet.gzip')
df_8 = pandas.read_parquet(f'/Users/brandonalpert/Documents/Repositories/BoogaDev/data/team/{l[8]}/data.parquet.gzip')
df_9 = pandas.read_parquet(f'/Users/brandonalpert/Documents/Repositories/BoogaDev/data/team/{l[9]}/data.parquet.gzip')
df_10 = pandas.read_parquet(f'/Users/brandonalpert/Documents/Repositories/BoogaDev/data/team/{l[10]}/data.parquet.gzip')
df_11 = pandas.read_parquet(f'/Users/brandonalpert/Documents/Repositories/BoogaDev/data/team/{l[11]}/data.parquet.gzip')
df_12 = pandas.read_parquet(f'/Users/brandonalpert/Documents/Repositories/BoogaDev/data/team/{l[12]}/data.parquet.gzip')
df_13 = pandas.read_parquet(f'/Users/brandonalpert/Documents/Repositories/BoogaDev/data/team/{l[13]}/data.parquet.gzip')
df_14 = pandas.read_parquet(f'/Users/brandonalpert/Documents/Repositories/BoogaDev/data/team/{l[14]}/data.parquet.gzip')
df_15 = pandas.read_parquet(f'/Users/brandonalpert/Documents/Repositories/BoogaDev/data/team/{l[15]}/data.parquet.gzip')
df_16 = pandas.read_parquet(f'/Users/brandonalpert/Documents/Repositories/BoogaDev/data/team/{l[16]}/data.parquet.gzip')
df_17 = pandas.read_parquet(f'/Users/brandonalpert/Documents/Repositories/BoogaDev/data/team/{l[17]}/data.parquet.gzip')
df_18 = pandas.read_parquet(f'/Users/brandonalpert/Documents/Repositories/BoogaDev/data/team/{l[18]}/data.parquet.gzip')
df_19 = pandas.read_parquet(f'/Users/brandonalpert/Documents/Repositories/BoogaDev/data/team/{l[19]}/data.parquet.gzip')
df_20 = pandas.read_parquet(f'/Users/brandonalpert/Documents/Repositories/BoogaDev/data/team/{l[20]}/data.parquet.gzip')

In [1390]:
df_0.sort_values(by=['gameDate','teamId'], ascending=False, inplace=True)
df_1.sort_values(by=['gameDate','teamId'], ascending=False, inplace=True)
df_2.sort_values(by=['gameDate','teamId'], ascending=False, inplace=True)
df_3.sort_values(by=['gameDate','teamId'], ascending=False, inplace=True)
df_4.sort_values(by=['gameDate','teamId'], ascending=False, inplace=True)
df_5.sort_values(by=['gameDate','teamId'], ascending=False, inplace=True)
df_6.sort_values(by=['gameDate','teamId'], ascending=False, inplace=True)
df_7.sort_values(by=['gameDate','teamId'], ascending=False, inplace=True)
df_8.sort_values(by=['gameDate','teamId'], ascending=False, inplace=True)
df_9.sort_values(by=['gameDate','teamId'], ascending=False, inplace=True)
df_10.sort_values(by=['gameDate','teamId'], ascending=False, inplace=True)
df_11.sort_values(by=['gameDate','teamId'], ascending=False, inplace=True)
df_12.sort_values(by=['gameDate','teamId'], ascending=False, inplace=True)
df_13.sort_values(by=['gameDate','teamId'], ascending=False, inplace=True)
df_14.sort_values(by=['gameDate','teamId'], ascending=False, inplace=True)
df_15.sort_values(by=['gameDate','teamId'], ascending=False, inplace=True)
df_16.sort_values(by=['gameDate','teamId'], ascending=False, inplace=True)
df_17.sort_values(by=['gameDate','teamId'], ascending=False, inplace=True)
df_18.sort_values(by=['gameDate','teamId'], ascending=False, inplace=True)
df_19.sort_values(by=['gameDate','teamId'], ascending=False, inplace=True)
df_20.sort_values(by=['gameDate','teamId'], ascending=False, inplace=True)

In [1391]:
df_0.drop(columns=['ties'],inplace=True)
df_0.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34280 entries, 18959 to 1308
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gameDate                  34280 non-null  object
 1   gameId                    34280 non-null  int64
 2   gamesPlayed               34280 non-null  int64
 3   homeRoad                  34280 non-null  object
 4   losses                    34280 non-null  int64
 5   lossesScoringFirst        34280 non-null  int64
 6   lossesTrailingFirst       34280 non-null  int64
 7   opponentTeamAbbrev        34280 non-null  object
 8   otLosses                  34280 non-null  int64
 9   otLossesScoringFirst      34280 non-null  int64
 10  otLossesTrailingFirst     34280 non-null  int64
 11  points                    34280 non-null  int64
 12  scoringFirstGamesPlayed   34280 non-null  int64
 13  teamFullName              34280 non-null  object
 14  teamId                    34280 non-null  int64
 15  tiesScoringFirst          34280 non-null  int64
 16  tiesTrailingFirst         34280 non-null  int64
 17  trailingFirstGamesPlayed  34280 non-null  int64
 18  winPctScoringFirst        17138 non-null  float64
 19  winPctTrailingFirst       17142 non-null  float64
 20  wins                      34280 non-null  int64
 21  winsScoringFirst          34280 non-null  int64
 22  winsTrailingFirst         34280 non-null  int64
dtypes: float64(2), int64(17), object(4)
memory usage: 6.3+ MB

In [1392]:
# print(set(list(df_0.columns)) & set(list(df_1.columns)))
df_1.drop(columns=['ties','gamesPlayed', 'points', 'teamFullName', 'wins', 'otLosses', 'losses', 'opponentTeamAbbrev', 'gameId', 'homeRoad'],inplace=True)
df_1.info()
print(set(list(df_0.columns)) & set(list(df_1.columns)))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34280 entries, 19019 to 1261
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   evGoalsFor            34280 non-null  int64
 1   gameDate              34280 non-null  object
 2   goalsAgainst          34280 non-null  int64
 3   goalsFor              34280 non-null  int64
 4   period1GoalsAgainst   34059 non-null  float64
 5   period1GoalsFor       34059 non-null  float64
 6   period2GoalsAgainst   34043 non-null  float64
 7   period2GoalsFor       34043 non-null  float64
 8   period3GoalsAgainst   33984 non-null  float64
 9   period3GoalsFor       33981 non-null  float64
 10  periodOtGoalsAgainst  34121 non-null  float64
 11  periodOtGoalsFor      34121 non-null  float64
 12  pointPct              34280 non-null  float64
 13  ppGoalsFor            34280 non-null  int64
 14  shGoalsFor            34280 non-null  int64
 15  teamId                34280 non-null  int64
dtypes: float64(9), int64(6), object(1)
memory usage: 4.4+ MB
{'gameDate', 'teamId'}

In [1393]:
# print(set(list(df_0.columns)) & set(list(df_2.columns)))
# print(set(list(df_1.columns)) & set(list(df_2.columns)))
df_2.drop(columns=['gamesPlayed', 'teamFullName', 'opponentTeamAbbrev', 'gameId', 'homeRoad'],inplace=True)
df_2.info()
print(set(list(df_0.columns)) & set(list(df_2.columns)))
print(set(list(df_1.columns)) & set(list(df_2.columns)))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34280 entries, 18954 to 1297
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   defensiveZoneFaceoffPct  31818 non-null  float64
 1   defensiveZoneFaceoffs    31820 non-null  float64
 2   evFaceoffPct             34280 non-null  float64
 3   evFaceoffs               34280 non-null  int64
 4   faceoffWinPct            34280 non-null  float64
 5   gameDate                 34280 non-null  object
 6   neutralZoneFaceoffPct    31818 non-null  float64
 7   neutralZoneFaceoffs      31820 non-null  float64
 8   offensiveZoneFaceoffPct  31818 non-null  float64
 9   offensiveZoneFaceoffs    31820 non-null  float64
 10  ppFaceoffPct             33574 non-null  float64
 11  ppFaceoffs               34280 non-null  int64
 12  shFaceoffPct             33571 non-null  float64
 13  shFaceoffs               34280 non-null  int64
 14  teamId                   34280 non-null  int64
 15  totalFaceoffs            34280 non-null  int64
dtypes: float64(10), int64(5), object(1)
memory usage: 4.4+ MB
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}

In [1394]:
# print(set(list(df_0.columns)) & set(list(df_3.columns)))
# print(set(list(df_1.columns)) & set(list(df_3.columns)))
# print(set(list(df_2.columns)) & set(list(df_3.columns)))
df_3.drop(columns=['gamesPlayed', 'teamFullName', 'opponentTeamAbbrev', 'gameId', 'homeRoad', 'pointPct'],inplace=True)
df_3.info()
print(set(list(df_0.columns)) & set(list(df_3.columns)))
print(set(list(df_1.columns)) & set(list(df_3.columns)))
print(set(list(df_2.columns)) & set(list(df_3.columns)))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31820 entries, 17155 to 11462
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gameDate             31820 non-null  object
 1   goals4v3             31820 non-null  int64
 2   goals5v3             31820 non-null  int64
 3   goals5v4             31820 non-null  int64
 4   opportunities4v3     31820 non-null  int64
 5   opportunities5v3     31820 non-null  int64
 6   opportunities5v4     31820 non-null  int64
 7   overallPowerPlayPct  31225 non-null  float64
 8   powerPlayGoalsFor    31820 non-null  int64
 9   powerPlayPct4v3      2181 non-null   float64
 10  powerPlayPct5v3      3705 non-null   float64
 11  powerPlayPct5v4      31175 non-null  float64
 12  ppOpportunities      31820 non-null  int64
 13  teamId               31820 non-null  int64
 14  timeOnIce4v3         31820 non-null  int64
 15  timeOnIce5v3         31820 non-null  int64
 16  timeOnIce5v4         31820 non-null  int64
 17  timeOnIcePp          31820 non-null  int64
dtypes: float64(4), int64(13), object(1)
memory usage: 4.6+ MB
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}

In [1395]:
# print(set(list(df_0.columns)) & set(list(df_4.columns)))
# print(set(list(df_1.columns)) & set(list(df_4.columns)))
# print(set(list(df_2.columns)) & set(list(df_4.columns)))
# print(set(list(df_3.columns)) & set(list(df_4.columns)))
df_4.drop(columns=['ties', 'gamesPlayed', 'points', 'teamFullName', 'wins', 'otLosses', 'losses', 'opponentTeamAbbrev', 'gameId', 'homeRoad', 'pointPct'],inplace=True)
df_4.info()
print(set(list(df_0.columns)) & set(list(df_4.columns)))
print(set(list(df_1.columns)) & set(list(df_4.columns)))
print(set(list(df_2.columns)) & set(list(df_4.columns)))
print(set(list(df_3.columns)) & set(list(df_4.columns)))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34280 entries, 18964 to 1112
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   gameDate              34280 non-null  object
 1   lossesOneGoalGames    34280 non-null  int64
 2   lossesThreeGoalGames  34280 non-null  int64
 3   lossesTwoGoalGames    34280 non-null  int64
 4   otLossesOneGoalGames  34280 non-null  int64
 5   teamId                34280 non-null  int64
 6   winPctOneGoalGames    15384 non-null  float64
 7   winPctThreeGoalGames  11678 non-null  float64
 8   winPctTwoGoalGames    7218 non-null   float64
 9   winsOneGoalGames      34280 non-null  int64
 10  winsThreeGoalGames    34280 non-null  int64
 11  winsTwoGoalGames      34280 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 3.4+ MB
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}

In [1396]:
# print(set(list(df_0.columns)) & set(list(df_5.columns)))
# print(set(list(df_1.columns)) & set(list(df_5.columns)))
# print(set(list(df_2.columns)) & set(list(df_5.columns)))
# print(set(list(df_3.columns)) & set(list(df_5.columns)))
# print(set(list(df_4.columns)) & set(list(df_5.columns)))
df_5.drop(columns=['gamesPlayed', 'points', 'teamFullName', 'wins', 'otLosses', 'losses', 'opponentTeamAbbrev', 'gameId', 'homeRoad', 'pointPct', 'faceoffWinPct'],inplace=True)
df_5.info()
print(set(list(df_0.columns)) & set(list(df_5.columns)))
print(set(list(df_1.columns)) & set(list(df_5.columns)))
print(set(list(df_2.columns)) & set(list(df_5.columns)))
print(set(list(df_3.columns)) & set(list(df_5.columns)))
print(set(list(df_4.columns)) & set(list(df_5.columns)))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34280 entries, 18925 to 1356
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   daysRest                 34280 non-null  int64
 1   gameDate                 34280 non-null  object
 2   goalsAgainstPerGame      34280 non-null  float64
 3   goalsForPerGame          34280 non-null  float64
 4   netGoalsPerGame          34280 non-null  float64
 5   penaltyKillPct           33665 non-null  float64
 6   powerPlayPct             33665 non-null  float64
 7   ppOpportunitiesPerGame   34280 non-null  float64
 8   shotDifferentialPerGame  34280 non-null  float64
 9   shotsAgainstPerGame      34280 non-null  float64
 10  shotsForPerGame          34280 non-null  float64
 11  teamId                   34280 non-null  int64
 12  ties                     0 non-null      object
 13  timesShorthandedPerGame  34280 non-null  float64
dtypes: float64(10), int64(2), object(2)
memory usage: 3.9+ MB
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}

In [1397]:
# print(set(list(df_0.columns)) & set(list(df_6.columns)))
# print(set(list(df_1.columns)) & set(list(df_6.columns)))
# print(set(list(df_2.columns)) & set(list(df_6.columns)))
# print(set(list(df_3.columns)) & set(list(df_6.columns)))
# print(set(list(df_4.columns)) & set(list(df_6.columns)))
# print(set(list(df_5.columns)) & set(list(df_6.columns)))
df_6.drop(columns=['ties', 'gamesPlayed', 'points', 'teamFullName', 'wins', 'otLosses', 'losses', 'opponentTeamAbbrev', 'gameId', 'homeRoad', 'pointPct'],inplace=True)
df_6.info()
print(set(list(df_0.columns)) & set(list(df_6.columns)))
print(set(list(df_1.columns)) & set(list(df_6.columns)))
print(set(list(df_2.columns)) & set(list(df_6.columns)))
print(set(list(df_3.columns)) & set(list(df_6.columns)))
print(set(list(df_4.columns)) & set(list(df_6.columns)))
print(set(list(df_5.columns)) & set(list(df_6.columns)))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34280 entries, 18974 to 1168
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gameDate                     34280 non-null  object
 1   shootoutGamesPlayed          34280 non-null  int64
 2   shootoutGoals                34280 non-null  int64
 3   shootoutGoalsAgainst         34280 non-null  int64
 4   shootoutLosses               34280 non-null  int64
 5   shootoutPoints               34280 non-null  int64
 6   shootoutSavePct              3609 non-null   float64
 7   shootoutSaves                34280 non-null  int64
 8   shootoutShootingPct          3610 non-null   float64
 9   shootoutShootingPlusSavePct  3610 non-null   float64
 10  shootoutShots                34280 non-null  int64
 11  shootoutShotsAgainst         34280 non-null  int64
 12  shootoutWinPct               3610 non-null   float64
 13  shootoutWins                 34280 non-null  int64
 14  teamId                       34280 non-null  int64
dtypes: float64(4), int64(10), object(1)
memory usage: 4.2+ MB
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}

In [1398]:
# print(set(list(df_0.columns)) & set(list(df_7.columns)))
# print(set(list(df_1.columns)) & set(list(df_7.columns)))
# print(set(list(df_2.columns)) & set(list(df_7.columns)))
# print(set(list(df_3.columns)) & set(list(df_7.columns)))
# print(set(list(df_4.columns)) & set(list(df_7.columns)))
# print(set(list(df_5.columns)) & set(list(df_7.columns)))
# print(set(list(df_6.columns)) & set(list(df_7.columns)))
df_7.drop(columns=['ties', 'gamesPlayed', 'points', 'teamFullName', 'wins', 'otLosses', 'losses', 'opponentTeamAbbrev', 'gameId', 'homeRoad', 'pointPct', 'shotsForPerGame', 'shotsAgainstPerGame'],inplace=True)
df_7.info()
print(set(list(df_0.columns)) & set(list(df_7.columns)))
print(set(list(df_1.columns)) & set(list(df_7.columns)))
print(set(list(df_2.columns)) & set(list(df_7.columns)))
print(set(list(df_3.columns)) & set(list(df_7.columns)))
print(set(list(df_4.columns)) & set(list(df_7.columns)))
print(set(list(df_5.columns)) & set(list(df_7.columns)))
print(set(list(df_6.columns)) & set(list(df_7.columns)))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34280 entries, 18954 to 1355
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   gameDate                   34280 non-null  object
 1   lossesEvenShots            34280 non-null  int64
 2   lossesOutshootOpponent     34280 non-null  int64
 3   lossesOutshotByOpponent    34280 non-null  int64
 4   netShotsPerGame            34280 non-null  float64
 5   otLossesEvenShots          34280 non-null  int64
 6   otLossesOutshootOpponent   34280 non-null  int64
 7   otLossesOutshotByOpponent  34280 non-null  int64
 8   teamId                     34280 non-null  int64
 9   tiesEvenShots              34280 non-null  int64
 10  tiesOutshootOpponent       34280 non-null  int64
 11  tiesOutshotByOpponent      34280 non-null  int64
 12  winsEvenShots              34280 non-null  int64
 13  winsOutshootOpponent       34280 non-null  int64
 14  winsOutshotByOpponent      34280 non-null  int64
dtypes: float64(1), int64(13), object(1)
memory usage: 4.2+ MB
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}

In [1399]:
# print(set(list(df_0.columns)) & set(list(df_8.columns)))
# print(set(list(df_1.columns)) & set(list(df_8.columns)))
# print(set(list(df_2.columns)) & set(list(df_8.columns)))
# print(set(list(df_3.columns)) & set(list(df_8.columns)))
# print(set(list(df_4.columns)) & set(list(df_8.columns)))
# print(set(list(df_5.columns)) & set(list(df_8.columns)))
# print(set(list(df_6.columns)) & set(list(df_8.columns)))
# print(set(list(df_7.columns)) & set(list(df_8.columns)))
df_8.drop(columns=['gamesPlayed', 'teamFullName', 'opponentTeamAbbrev', 'gameId', 'homeRoad'],inplace=True)
df_8.info()
print(set(list(df_0.columns)) & set(list(df_8.columns)))
print(set(list(df_1.columns)) & set(list(df_8.columns)))
print(set(list(df_2.columns)) & set(list(df_8.columns)))
print(set(list(df_3.columns)) & set(list(df_8.columns)))
print(set(list(df_4.columns)) & set(list(df_8.columns)))
print(set(list(df_5.columns)) & set(list(df_8.columns)))
print(set(list(df_6.columns)) & set(list(df_8.columns)))
print(set(list(df_7.columns)) & set(list(df_8.columns)))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34280 entries, 19045 to 1337
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   blockedShots         34280 non-null  int64
 1   blockedShotsPer60    34280 non-null  float64
 2   emptyNetGoals        34280 non-null  int64
 3   gameDate             34280 non-null  object
 4   giveaways            34280 non-null  int64
 5   giveawaysPer60       34280 non-null  float64
 6   hits                 34280 non-null  int64
 7   hitsPer60            34280 non-null  float64
 8   missedShots          34280 non-null  int64
 9   satPct               31815 non-null  float64
 10  takeaways            34280 non-null  int64
 11  takeawaysPer60       34280 non-null  float64
 12  teamId               34280 non-null  int64
 13  timeOnIcePerGame5v5  31816 non-null  float64
dtypes: float64(6), int64(7), object(1)
memory usage: 3.9+ MB
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}

In [1400]:
# print(set(list(df_0.columns)) & set(list(df_9.columns)))
# print(set(list(df_1.columns)) & set(list(df_9.columns)))
# print(set(list(df_2.columns)) & set(list(df_9.columns)))
# print(set(list(df_3.columns)) & set(list(df_9.columns)))
# print(set(list(df_4.columns)) & set(list(df_9.columns)))
# print(set(list(df_5.columns)) & set(list(df_9.columns)))
# print(set(list(df_6.columns)) & set(list(df_9.columns)))
# print(set(list(df_7.columns)) & set(list(df_9.columns)))
# print(set(list(df_8.columns)) & set(list(df_9.columns)))
df_9.drop(columns=['gamesPlayed', 'teamFullName', 'opponentTeamAbbrev', 'gameId', 'homeRoad', 'otLosses', 'losses', 'points', 'wins', 'goalsFor', 'goalsAgainst', 'pointPct', 'ties', 'goalsForPerGame'],inplace=True)
df_9.info()
print(set(list(df_0.columns)) & set(list(df_9.columns)))
print(set(list(df_1.columns)) & set(list(df_9.columns)))
print(set(list(df_2.columns)) & set(list(df_9.columns)))
print(set(list(df_3.columns)) & set(list(df_9.columns)))
print(set(list(df_4.columns)) & set(list(df_9.columns)))
print(set(list(df_5.columns)) & set(list(df_9.columns)))
print(set(list(df_6.columns)) & set(list(df_9.columns)))
print(set(list(df_7.columns)) & set(list(df_9.columns)))
print(set(list(df_8.columns)) & set(list(df_9.columns)))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34280 entries, 18974 to 1277
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   gameDate              34280 non-null  object
 1   goalsFor3On3          29812 non-null  float64
 2   goalsFor3On4          29812 non-null  float64
 3   goalsFor3On5          29812 non-null  float64
 4   goalsFor3On6          29812 non-null  float64
 5   goalsFor4On3          29812 non-null  float64
 6   goalsFor4On4          29812 non-null  float64
 7   goalsFor4On5          29812 non-null  float64
 8   goalsFor4On6          29812 non-null  float64
 9   goalsFor5On3          29812 non-null  float64
 10  goalsFor5On4          29812 non-null  float64
 11  goalsFor5On5          29812 non-null  float64
 12  goalsFor5On6          29812 non-null  float64
 13  goalsFor6On3          29812 non-null  float64
 14  goalsFor6On4          29812 non-null  float64
 15  goalsFor6On5          29812 non-null  float64
 16  goalsForPenaltyShots  29812 non-null  float64
 17  teamId                34280 non-null  int64
dtypes: float64(16), int64(1), object(1)
memory usage: 5.0+ MB
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}

In [1401]:
# print(set(list(df_0.columns)) & set(list(df_10.columns)))
# print(set(list(df_1.columns)) & set(list(df_10.columns)))
# print(set(list(df_2.columns)) & set(list(df_10.columns)))
# print(set(list(df_3.columns)) & set(list(df_10.columns)))
# print(set(list(df_4.columns)) & set(list(df_10.columns)))
# print(set(list(df_5.columns)) & set(list(df_10.columns)))
# print(set(list(df_6.columns)) & set(list(df_10.columns)))
# print(set(list(df_7.columns)) & set(list(df_10.columns)))
# print(set(list(df_8.columns)) & set(list(df_10.columns)))
# print(set(list(df_9.columns)) & set(list(df_10.columns)))
df_10.drop(columns=['gamesPlayed', 'teamFullName', 'opponentTeamAbbrev', 'gameId', 'homeRoad', 'pointPct'],inplace=True)
df_10.info()
print(set(list(df_0.columns)) & set(list(df_10.columns)))
print(set(list(df_1.columns)) & set(list(df_10.columns)))
print(set(list(df_2.columns)) & set(list(df_10.columns)))
print(set(list(df_3.columns)) & set(list(df_10.columns)))
print(set(list(df_4.columns)) & set(list(df_10.columns)))
print(set(list(df_5.columns)) & set(list(df_10.columns)))
print(set(list(df_6.columns)) & set(list(df_10.columns)))
print(set(list(df_7.columns)) & set(list(df_10.columns)))
print(set(list(df_8.columns)) & set(list(df_10.columns)))
print(set(list(df_9.columns)) & set(list(df_10.columns)))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34280 entries, 18978 to 1284
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gameDate                 34280 non-null  object
 1   goalsAgainst3v4          31820 non-null  float64
 2   goalsAgainst3v5          31820 non-null  float64
 3   goalsAgainst4v5          31820 non-null  float64
 4   overallPenaltyKillPct    31230 non-null  float64
 5   penaltyKillPct3v4        2195 non-null   float64
 6   penaltyKillPct3v5        3739 non-null   float64
 7   penaltyKillPct4v5        31180 non-null  float64
 8   shorthandedGoalsAgainst  31820 non-null  float64
 9   teamId                   34280 non-null  int64
 10  timeOnIce3v4             31820 non-null  float64
 11  timeOnIce3v5             31820 non-null  float64
 12  timeOnIce4v5             31820 non-null  float64
 13  timeOnIceShorthanded     31820 non-null  float64
 14  timesShorthanded         31820 non-null  float64
 15  timesShorthanded3v4      31820 non-null  float64
 16  timesShorthanded3v5      31820 non-null  float64
 17  timesShorthanded4v5      31820 non-null  float64
dtypes: float64(16), int64(1), object(1)
memory usage: 5.0+ MB
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}

In [1402]:
# print(set(list(df_0.columns)) & set(list(df_11.columns)))
# print(set(list(df_1.columns)) & set(list(df_11.columns)))
# print(set(list(df_2.columns)) & set(list(df_11.columns)))
# print(set(list(df_3.columns)) & set(list(df_11.columns)))
# print(set(list(df_4.columns)) & set(list(df_11.columns)))
# print(set(list(df_5.columns)) & set(list(df_11.columns)))
# print(set(list(df_6.columns)) & set(list(df_11.columns)))
# print(set(list(df_7.columns)) & set(list(df_11.columns)))
# print(set(list(df_8.columns)) & set(list(df_11.columns)))
# print(set(list(df_9.columns)) & set(list(df_11.columns)))
# print(set(list(df_10.columns)) & set(list(df_11.columns)))
df_11.drop(columns=['gamesPlayed', 'teamFullName', 'opponentTeamAbbrev', 'gameId', 'homeRoad', 'goalsFor'],inplace=True)
df_11.info()
print(set(list(df_0.columns)) & set(list(df_11.columns)))
print(set(list(df_1.columns)) & set(list(df_11.columns)))
print(set(list(df_2.columns)) & set(list(df_11.columns)))
print(set(list(df_3.columns)) & set(list(df_11.columns)))
print(set(list(df_4.columns)) & set(list(df_11.columns)))
print(set(list(df_5.columns)) & set(list(df_11.columns)))
print(set(list(df_6.columns)) & set(list(df_11.columns)))
print(set(list(df_7.columns)) & set(list(df_11.columns)))
print(set(list(df_8.columns)) & set(list(df_11.columns)))
print(set(list(df_9.columns)) & set(list(df_11.columns)))
print(set(list(df_10.columns)) & set(list(df_11.columns)))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34280 entries, 18932 to 1287
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gameDate               34280 non-null  object
 1   goalsBackhand          31818 non-null  float64
 2   goalsDeflected         31818 non-null  float64
 3   goalsSlap              31818 non-null  float64
 4   goalsSnap              31818 non-null  float64
 5   goalsTipIn             31818 non-null  float64
 6   goalsWrapAround        31818 non-null  float64
 7   goalsWrist             31818 non-null  float64
 8   shootingPct            34280 non-null  float64
 9   shootingPctBackhand    28845 non-null  float64
 10  shootingPctDeflected   9484 non-null   float64
 11  shootingPctSlap        31292 non-null  float64
 12  shootingPctSnap        28139 non-null  float64
 13  shootingPctTipIn       22193 non-null  float64
 14  shootingPctWrapAround  8986 non-null   float64
 15  shootingPctWrist       31702 non-null  float64
 16  shotsOnNet             34280 non-null  int64
 17  shotsOnNetBackhand     31818 non-null  float64
 18  shotsOnNetDeflected    31818 non-null  float64
 19  shotsOnNetSlap         31818 non-null  float64
 20  shotsOnNetSnap         31818 non-null  float64
 21  shotsOnNetTipIn        31818 non-null  float64
 22  shotsOnNetWrapAround   31818 non-null  float64
 23  shotsOnNetWrist        31818 non-null  float64
 24  teamId                 34280 non-null  int64
dtypes: float64(22), int64(2), object(1)
memory usage: 6.8+ MB
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}

In [1403]:
# print(set(list(df_0.columns)) & set(list(df_12.columns)))
# print(set(list(df_1.columns)) & set(list(df_12.columns)))
# print(set(list(df_2.columns)) & set(list(df_12.columns)))
# print(set(list(df_3.columns)) & set(list(df_12.columns)))
# print(set(list(df_4.columns)) & set(list(df_12.columns)))
# print(set(list(df_5.columns)) & set(list(df_12.columns)))
# print(set(list(df_6.columns)) & set(list(df_12.columns)))
# print(set(list(df_7.columns)) & set(list(df_12.columns)))
# print(set(list(df_8.columns)) & set(list(df_12.columns)))
# print(set(list(df_9.columns)) & set(list(df_12.columns)))
# print(set(list(df_10.columns)) & set(list(df_12.columns)))
# print(set(list(df_11.columns)) & set(list(df_12.columns)))
df_12.drop(columns=['gamesPlayed', 'teamFullName', 'opponentTeamAbbrev', 'gameId', 'homeRoad', 'pointPct', 'period2GoalsAgainst', 'period1GoalsAgainst', 'period1GoalsFor', 'period2GoalsFor'],inplace=True)
df_12.info()
print(set(list(df_0.columns)) & set(list(df_12.columns)))
print(set(list(df_1.columns)) & set(list(df_12.columns)))
print(set(list(df_2.columns)) & set(list(df_12.columns)))
print(set(list(df_3.columns)) & set(list(df_12.columns)))
print(set(list(df_4.columns)) & set(list(df_12.columns)))
print(set(list(df_5.columns)) & set(list(df_12.columns)))
print(set(list(df_6.columns)) & set(list(df_12.columns)))
print(set(list(df_7.columns)) & set(list(df_12.columns)))
print(set(list(df_8.columns)) & set(list(df_12.columns)))
print(set(list(df_9.columns)) & set(list(df_12.columns)))
print(set(list(df_10.columns)) & set(list(df_12.columns)))
print(set(list(df_11.columns)) & set(list(df_12.columns)))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34280 entries, 18978 to 1329
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   gameDate            34280 non-null  object
 1   lossLeadPeriod1     34280 non-null  int64
 2   lossLeadPeriod2     34280 non-null  int64
 3   lossTrailPeriod1    34280 non-null  int64
 4   lossTrailPeriod2    34280 non-null  int64
 5   otLossLeadPeriod1   34280 non-null  int64
 6   otLossLeadPeriod2   34280 non-null  int64
 7   otLossTrailPeriod1  34280 non-null  int64
 8   otLossTrailPeriod2  34280 non-null  int64
 9   teamId              34280 non-null  int64
 10  tiesLeadPeriod1     34280 non-null  int64
 11  tiesLeadPeriod2     34280 non-null  int64
 12  tiesTrailPeriod1    34280 non-null  int64
 13  tiesTrailPeriod2    34280 non-null  int64
 14  winPctLeadPeriod1   11178 non-null  float64
 15  winPctLeadPeriod2   13198 non-null  float64
 16  winPctTrailPeriod1  11226 non-null  float64
 17  winPctTrailPeriod2  13239 non-null  float64
 18  winsLeadPeriod1     34280 non-null  int64
 19  winsLeadPeriod2     34280 non-null  int64
 20  winsTrailPeriod1    34280 non-null  int64
 21  winsTrailPeriod2    34280 non-null  int64
dtypes: float64(4), int64(17), object(1)
memory usage: 6.0+ MB
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}

In [1404]:
# print(set(list(df_0.columns)) & set(list(df_13.columns)))
# print(set(list(df_1.columns)) & set(list(df_13.columns)))
# print(set(list(df_2.columns)) & set(list(df_13.columns)))
# print(set(list(df_3.columns)) & set(list(df_13.columns)))
# print(set(list(df_4.columns)) & set(list(df_13.columns)))
# print(set(list(df_5.columns)) & set(list(df_13.columns)))
# print(set(list(df_6.columns)) & set(list(df_13.columns)))
# print(set(list(df_7.columns)) & set(list(df_13.columns)))
# print(set(list(df_8.columns)) & set(list(df_13.columns)))
# print(set(list(df_9.columns)) & set(list(df_13.columns)))
# print(set(list(df_10.columns)) & set(list(df_13.columns)))
# print(set(list(df_11.columns)) & set(list(df_13.columns)))
# print(set(list(df_12.columns)) & set(list(df_13.columns)))
df_13.drop(columns=['gamesPlayed', 'teamFullName', 'opponentTeamAbbrev', 'gameId', 'homeRoad', 'ties', 'timesShorthandedPerGame', 'penaltyKillPct', 'otLosses', 'losses', 'points', 'wins', 'timesShorthanded', 'shGoalsFor'],inplace=True)
df_13.info()
print(set(list(df_0.columns)) & set(list(df_13.columns)))
print(set(list(df_1.columns)) & set(list(df_13.columns)))
print(set(list(df_2.columns)) & set(list(df_13.columns)))
print(set(list(df_3.columns)) & set(list(df_13.columns)))
print(set(list(df_4.columns)) & set(list(df_13.columns)))
print(set(list(df_5.columns)) & set(list(df_13.columns)))
print(set(list(df_6.columns)) & set(list(df_13.columns)))
print(set(list(df_7.columns)) & set(list(df_13.columns)))
print(set(list(df_8.columns)) & set(list(df_13.columns)))
print(set(list(df_9.columns)) & set(list(df_13.columns)))
print(set(list(df_10.columns)) & set(list(df_13.columns)))
print(set(list(df_11.columns)) & set(list(df_13.columns)))
print(set(list(df_12.columns)) & set(list(df_13.columns)))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34280 entries, 18954 to 1355
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gameDate               34280 non-null  object
 1   penaltyKillNetPct      33676 non-null  float64
 2   pkNetGoals             34280 non-null  int64
 3   pkNetGoalsPerGame      34280 non-null  float64
 4   pkTimeOnIcePerGame     34280 non-null  float64
 5   pointsPct              34280 non-null  float64
 6   ppGoalsAgainst         34280 non-null  int64
 7   ppGoalsAgainstPerGame  34280 non-null  float64
 8   shGoalsForPerGame      34280 non-null  float64
 9   teamId                 34280 non-null  int64
dtypes: float64(6), int64(3), object(1)
memory usage: 2.9+ MB
{'teamId', 'gameDate'}
{'teamId', 'gameDate'}
{'teamId', 'gameDate'}
{'teamId', 'gameDate'}
{'teamId', 'gameDate'}
{'teamId', 'gameDate'}
{'teamId', 'gameDate'}
{'teamId', 'gameDate'}
{'teamId', 'gameDate'}
{'teamId', 'gameDate'}
{'teamId', 'gameDate'}
{'teamId', 'gameDate'}
{'teamId', 'gameDate'}

In [1405]:
# print(set(list(df_0.columns)) & set(list(df_14.columns)))
# print(set(list(df_1.columns)) & set(list(df_14.columns)))
# print(set(list(df_2.columns)) & set(list(df_14.columns)))
# print(set(list(df_3.columns)) & set(list(df_14.columns)))
# print(set(list(df_4.columns)) & set(list(df_14.columns)))
# print(set(list(df_5.columns)) & set(list(df_14.columns)))
# print(set(list(df_6.columns)) & set(list(df_14.columns)))
# print(set(list(df_7.columns)) & set(list(df_14.columns)))
# print(set(list(df_8.columns)) & set(list(df_14.columns)))
# print(set(list(df_9.columns)) & set(list(df_14.columns)))
# print(set(list(df_10.columns)) & set(list(df_14.columns)))
# print(set(list(df_11.columns)) & set(list(df_14.columns)))
# print(set(list(df_12.columns)) & set(list(df_14.columns)))
# print(set(list(df_13.columns)) & set(list(df_14.columns)))
df_14.drop(columns=['gamesPlayed', 'teamFullName', 'opponentTeamAbbrev', 'gameId', 'homeRoad', 'faceoffWinPct', 'neutralZoneFaceoffs', 'offensiveZoneFaceoffs', 'defensiveZoneFaceoffs', 'shFaceoffs', 'evFaceoffs', 'ppFaceoffs', 'totalFaceoffs'],inplace=True)
df_14.info()
print(set(list(df_0.columns)) & set(list(df_14.columns)))
print(set(list(df_1.columns)) & set(list(df_14.columns)))
print(set(list(df_2.columns)) & set(list(df_14.columns)))
print(set(list(df_3.columns)) & set(list(df_14.columns)))
print(set(list(df_4.columns)) & set(list(df_14.columns)))
print(set(list(df_5.columns)) & set(list(df_14.columns)))
print(set(list(df_6.columns)) & set(list(df_14.columns)))
print(set(list(df_7.columns)) & set(list(df_14.columns)))
print(set(list(df_8.columns)) & set(list(df_14.columns)))
print(set(list(df_9.columns)) & set(list(df_14.columns)))
print(set(list(df_10.columns)) & set(list(df_14.columns)))
print(set(list(df_11.columns)) & set(list(df_14.columns)))
print(set(list(df_12.columns)) & set(list(df_14.columns)))
print(set(list(df_13.columns)) & set(list(df_14.columns)))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34280 entries, 18958 to 1297
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   defensiveZoneFaceoffLosses  31820 non-null  float64
 1   defensiveZoneFaceoffWins    31820 non-null  float64
 2   evFaceoffsLost              34280 non-null  int64
 3   evFaceoffsWon               34280 non-null  int64
 4   faceoffsLost                34280 non-null  int64
 5   faceoffsWon                 34280 non-null  int64
 6   gameDate                    34280 non-null  object
 7   neutralZoneFaceoffLosses    31820 non-null  float64
 8   neutralZoneFaceoffWins      31820 non-null  float64
 9   offensiveZoneFaceoffLosses  31820 non-null  float64
 10  offensiveZoneFaceoffWins    31820 non-null  float64
 11  ppFaceoffsLost              34280 non-null  int64
 12  ppFaceoffsWon               34280 non-null  int64
 13  shFaceoffsLost              34280 non-null  int64
 14  shFaceoffsWon               34280 non-null  int64
 15  teamId                      34280 non-null  int64
dtypes: float64(6), int64(9), object(1)
memory usage: 4.4+ MB
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'teamId', 'gameDate'}

In [1406]:
# print(set(list(df_0.columns)) & set(list(df_15.columns)))
# print(set(list(df_1.columns)) & set(list(df_15.columns)))
# print(set(list(df_2.columns)) & set(list(df_15.columns)))
# print(set(list(df_3.columns)) & set(list(df_15.columns)))
# print(set(list(df_4.columns)) & set(list(df_15.columns)))
# print(set(list(df_5.columns)) & set(list(df_15.columns)))
# print(set(list(df_6.columns)) & set(list(df_15.columns)))
# print(set(list(df_7.columns)) & set(list(df_15.columns)))
# print(set(list(df_8.columns)) & set(list(df_15.columns)))
# print(set(list(df_9.columns)) & set(list(df_15.columns)))
# print(set(list(df_10.columns)) & set(list(df_15.columns)))
# print(set(list(df_11.columns)) & set(list(df_15.columns)))
# print(set(list(df_12.columns)) & set(list(df_15.columns)))
# print(set(list(df_13.columns)) & set(list(df_15.columns)))
# print(set(list(df_14.columns)) & set(list(df_15.columns)))
df_15.drop(columns=['ties', 'otLosses', 'losses', 'points', 'wins', 'goalsFor', 'goalsAgainst', 'goalsAgainstPerGame', 'gamesPlayed', 'teamFullName', 'opponentTeamAbbrev', 'gameId', 'homeRoad', 'pointPct'],inplace=True)
df_15.info()
print(set(list(df_0.columns)) & set(list(df_15.columns)))
print(set(list(df_1.columns)) & set(list(df_15.columns)))
print(set(list(df_2.columns)) & set(list(df_15.columns)))
print(set(list(df_3.columns)) & set(list(df_15.columns)))
print(set(list(df_4.columns)) & set(list(df_15.columns)))
print(set(list(df_5.columns)) & set(list(df_15.columns)))
print(set(list(df_6.columns)) & set(list(df_15.columns)))
print(set(list(df_7.columns)) & set(list(df_15.columns)))
print(set(list(df_8.columns)) & set(list(df_15.columns)))
print(set(list(df_9.columns)) & set(list(df_15.columns)))
print(set(list(df_10.columns)) & set(list(df_15.columns)))
print(set(list(df_11.columns)) & set(list(df_15.columns)))
print(set(list(df_12.columns)) & set(list(df_15.columns)))
print(set(list(df_13.columns)) & set(list(df_15.columns)))
print(set(list(df_14.columns)) & set(list(df_15.columns)))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34280 entries, 18959 to 1266
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gameDate                  34280 non-null  object
 1   goalsAgainst3On3          29805 non-null  float64
 2   goalsAgainst3On4          29805 non-null  float64
 3   goalsAgainst3On5          29805 non-null  float64
 4   goalsAgainst3On6          29805 non-null  float64
 5   goalsAgainst4On3          29805 non-null  float64
 6   goalsAgainst4On4          29805 non-null  float64
 7   goalsAgainst4On5          29805 non-null  float64
 8   goalsAgainst4On6          29805 non-null  float64
 9   goalsAgainst5On3          29805 non-null  float64
 10  goalsAgainst5On4          29805 non-null  float64
 11  goalsAgainst5On5          29805 non-null  float64
 12  goalsAgainst5On6          29805 non-null  float64
 13  goalsAgainst6On3          29805 non-null  float64
 14  goalsAgainst6On4          29805 non-null  float64
 15  goalsAgainst6On5          29805 non-null  float64
 16  goalsAgainstPenaltyShots  29805 non-null  float64
 17  teamId                    34280 non-null  int64
dtypes: float64(16), int64(1), object(1)
memory usage: 5.0+ MB
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'teamId', 'gameDate'}
{'gameDate', 'teamId'}

In [1407]:
# print(set(list(df_0.columns)) & set(list(df_16.columns)))
# print(set(list(df_1.columns)) & set(list(df_16.columns)))
# print(set(list(df_2.columns)) & set(list(df_16.columns)))
# print(set(list(df_3.columns)) & set(list(df_16.columns)))
# print(set(list(df_4.columns)) & set(list(df_16.columns)))
# print(set(list(df_5.columns)) & set(list(df_16.columns)))
# print(set(list(df_6.columns)) & set(list(df_16.columns)))
# print(set(list(df_7.columns)) & set(list(df_16.columns)))
# print(set(list(df_8.columns)) & set(list(df_16.columns)))
# print(set(list(df_9.columns)) & set(list(df_16.columns)))
# print(set(list(df_10.columns)) & set(list(df_16.columns)))
# print(set(list(df_11.columns)) & set(list(df_16.columns)))
# print(set(list(df_12.columns)) & set(list(df_16.columns)))
# print(set(list(df_13.columns)) & set(list(df_16.columns)))
# print(set(list(df_14.columns)) & set(list(df_16.columns)))
# print(set(list(df_15.columns)) & set(list(df_16.columns)))
df_16.drop(columns=['gamesPlayed', 'teamFullName', 'opponentTeamAbbrev', 'gameId', 'homeRoad'],inplace=True)
df_16.info()
print(set(list(df_0.columns)) & set(list(df_16.columns)))
print(set(list(df_1.columns)) & set(list(df_16.columns)))
print(set(list(df_2.columns)) & set(list(df_16.columns)))
print(set(list(df_3.columns)) & set(list(df_16.columns)))
print(set(list(df_4.columns)) & set(list(df_16.columns)))
print(set(list(df_5.columns)) & set(list(df_16.columns)))
print(set(list(df_6.columns)) & set(list(df_16.columns)))
print(set(list(df_7.columns)) & set(list(df_16.columns)))
print(set(list(df_8.columns)) & set(list(df_16.columns)))
print(set(list(df_9.columns)) & set(list(df_16.columns)))
print(set(list(df_10.columns)) & set(list(df_16.columns)))
print(set(list(df_11.columns)) & set(list(df_16.columns)))
print(set(list(df_12.columns)) & set(list(df_16.columns)))
print(set(list(df_13.columns)) & set(list(df_16.columns)))
print(set(list(df_14.columns)) & set(list(df_16.columns)))
print(set(list(df_15.columns)) & set(list(df_16.columns)))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34280 entries, 18972 to 1302
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   gameDate     34280 non-null  object
 1   satAgainst   31818 non-null  float64
 2   satAhead     31364 non-null  float64
 3   satBehind    31392 non-null  float64
 4   satClose     31817 non-null  float64
 5   satFor       31818 non-null  float64
 6   satTied      31722 non-null  float64
 7   satTotal     31818 non-null  float64
 8   shots5v5     31818 non-null  float64
 9   teamId       31818 non-null  float64
 10  usatAgainst  31818 non-null  float64
 11  usatAhead    31349 non-null  float64
 12  usatBehind   31374 non-null  float64
 13  usatClose    31813 non-null  float64
 14  usatFor      31818 non-null  float64
 15  usatTied     31706 non-null  float64
 16  usatTotal    31818 non-null  float64
dtypes: float64(16), object(1)
memory usage: 4.7+ MB
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'teamId', 'gameDate'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}

In [1408]:
# print(set(list(df_0.columns)) & set(list(df_17.columns)))
# print(set(list(df_1.columns)) & set(list(df_17.columns)))
# print(set(list(df_2.columns)) & set(list(df_17.columns)))
# print(set(list(df_3.columns)) & set(list(df_17.columns)))
# print(set(list(df_4.columns)) & set(list(df_17.columns)))
# print(set(list(df_5.columns)) & set(list(df_17.columns)))
# print(set(list(df_6.columns)) & set(list(df_17.columns)))
# print(set(list(df_7.columns)) & set(list(df_17.columns)))
# print(set(list(df_8.columns)) & set(list(df_17.columns)))
# print(set(list(df_9.columns)) & set(list(df_17.columns)))
# print(set(list(df_10.columns)) & set(list(df_17.columns)))
# print(set(list(df_11.columns)) & set(list(df_17.columns)))
# print(set(list(df_12.columns)) & set(list(df_17.columns)))
# print(set(list(df_13.columns)) & set(list(df_17.columns)))
# print(set(list(df_14.columns)) & set(list(df_17.columns)))
# print(set(list(df_15.columns)) & set(list(df_17.columns)))
# print(set(list(df_16.columns)) & set(list(df_17.columns)))
df_17.drop(columns=['ties', 'gamesPlayed', 'teamFullName', 'opponentTeamAbbrev', 'gameId', 'homeRoad', 'pointPct', 'powerPlayPct', 'ppOpportunitiesPerGame', 'otLosses', 'losses', 'points', 'wins', 'ppOpportunities', 'powerPlayGoalsFor', 'powerPlayPct', 'ppOpportunitiesPerGame'],inplace=True)
df_17.info()
print(set(list(df_0.columns)) & set(list(df_17.columns)))
print(set(list(df_1.columns)) & set(list(df_17.columns)))
print(set(list(df_2.columns)) & set(list(df_17.columns)))
print(set(list(df_3.columns)) & set(list(df_17.columns)))
print(set(list(df_4.columns)) & set(list(df_17.columns)))
print(set(list(df_5.columns)) & set(list(df_17.columns)))
print(set(list(df_6.columns)) & set(list(df_17.columns)))
print(set(list(df_7.columns)) & set(list(df_17.columns)))
print(set(list(df_8.columns)) & set(list(df_17.columns)))
print(set(list(df_9.columns)) & set(list(df_17.columns)))
print(set(list(df_10.columns)) & set(list(df_17.columns)))
print(set(list(df_11.columns)) & set(list(df_17.columns)))
print(set(list(df_12.columns)) & set(list(df_17.columns)))
print(set(list(df_13.columns)) & set(list(df_17.columns)))
print(set(list(df_14.columns)) & set(list(df_17.columns)))
print(set(list(df_15.columns)) & set(list(df_17.columns)))
print(set(list(df_16.columns)) & set(list(df_17.columns)))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34280 entries, 18954 to 1355
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gameDate               34280 non-null  object
 1   powerPlayNetPct        33676 non-null  float64
 2   ppGoalsPerGame         34280 non-null  float64
 3   ppNetGoals             34280 non-null  int64
 4   ppNetGoalsPerGame      34280 non-null  float64
 5   ppTimeOnIcePerGame     34280 non-null  float64
 6   shGoalsAgainst         34280 non-null  int64
 7   shGoalsAgainstPerGame  34280 non-null  float64
 8   teamId                 34280 non-null  int64
dtypes: float64(5), int64(3), object(1)
memory usage: 2.6+ MB
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}

In [1409]:
# print(set(list(df_0.columns)) & set(list(df_18.columns)))
# print(set(list(df_1.columns)) & set(list(df_18.columns)))
# print(set(list(df_2.columns)) & set(list(df_18.columns)))
# print(set(list(df_3.columns)) & set(list(df_18.columns)))
# print(set(list(df_4.columns)) & set(list(df_18.columns)))
# print(set(list(df_5.columns)) & set(list(df_18.columns)))
# print(set(list(df_6.columns)) & set(list(df_18.columns)))
# print(set(list(df_7.columns)) & set(list(df_18.columns)))
# print(set(list(df_8.columns)) & set(list(df_18.columns)))
# print(set(list(df_9.columns)) & set(list(df_18.columns)))
# print(set(list(df_10.columns)) & set(list(df_18.columns)))
# print(set(list(df_11.columns)) & set(list(df_18.columns)))
# print(set(list(df_12.columns)) & set(list(df_18.columns)))
# print(set(list(df_13.columns)) & set(list(df_18.columns)))
# print(set(list(df_14.columns)) & set(list(df_18.columns)))
# print(set(list(df_15.columns)) & set(list(df_18.columns)))
# print(set(list(df_16.columns)) & set(list(df_18.columns)))
# print(set(list(df_17.columns)) & set(list(df_18.columns)))
df_18.drop(columns=['gamesPlayed', 'teamFullName', 'opponentTeamAbbrev', 'gameId', 'homeRoad', 'ties', 'otLosses', 'losses', 'points', 'wins'],inplace=True)
df_18.info()
print(set(list(df_0.columns)) & set(list(df_18.columns)))
print(set(list(df_1.columns)) & set(list(df_18.columns)))
print(set(list(df_2.columns)) & set(list(df_18.columns)))
print(set(list(df_3.columns)) & set(list(df_18.columns)))
print(set(list(df_4.columns)) & set(list(df_18.columns)))
print(set(list(df_5.columns)) & set(list(df_18.columns)))
print(set(list(df_6.columns)) & set(list(df_18.columns)))
print(set(list(df_7.columns)) & set(list(df_18.columns)))
print(set(list(df_8.columns)) & set(list(df_18.columns)))
print(set(list(df_9.columns)) & set(list(df_18.columns)))
print(set(list(df_10.columns)) & set(list(df_18.columns)))
print(set(list(df_11.columns)) & set(list(df_18.columns)))
print(set(list(df_12.columns)) & set(list(df_18.columns)))
print(set(list(df_13.columns)) & set(list(df_18.columns)))
print(set(list(df_14.columns)) & set(list(df_18.columns)))
print(set(list(df_15.columns)) & set(list(df_18.columns)))
print(set(list(df_16.columns)) & set(list(df_18.columns)))
print(set(list(df_17.columns)) & set(list(df_18.columns)))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34280 entries, 18955 to 1119
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   benchMinorPenalties    34280 non-null  int64
 1   gameDate               34280 non-null  object
 2   gameMisconducts        34280 non-null  int64
 3   majors                 34280 non-null  int64
 4   matchPenalties         34280 non-null  int64
 5   minors                 34280 non-null  int64
 6   misconducts            34280 non-null  int64
 7   netPenalties           34280 non-null  int64
 8   netPenaltiesPer60      34280 non-null  float64
 9   penalties              34280 non-null  int64
 10  penaltiesDrawnPer60    34280 non-null  float64
 11  penaltiesTakenPer60    34280 non-null  float64
 12  penaltyMinutes         34280 non-null  int64
 13  penaltySecondsPerGame  34280 non-null  int64
 14  teamId                 34280 non-null  int64
 15  totalPenaltiesDrawn    34280 non-null  int64
dtypes: float64(3), int64(12), object(1)
memory usage: 4.4+ MB
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'teamId', 'gameDate'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}

In [1410]:
# print(set(list(df_0.columns)) & set(list(df_19.columns)))
# print(set(list(df_1.columns)) & set(list(df_19.columns)))
# print(set(list(df_2.columns)) & set(list(df_19.columns)))
# print(set(list(df_3.columns)) & set(list(df_19.columns)))
# print(set(list(df_4.columns)) & set(list(df_19.columns)))
# print(set(list(df_5.columns)) & set(list(df_19.columns)))
# print(set(list(df_6.columns)) & set(list(df_19.columns)))
# print(set(list(df_7.columns)) & set(list(df_19.columns)))
# print(set(list(df_8.columns)) & set(list(df_19.columns)))
# print(set(list(df_9.columns)) & set(list(df_19.columns)))
# print(set(list(df_10.columns)) & set(list(df_19.columns)))
# print(set(list(df_11.columns)) & set(list(df_19.columns)))
# print(set(list(df_12.columns)) & set(list(df_19.columns)))
# print(set(list(df_13.columns)) & set(list(df_19.columns)))
# print(set(list(df_14.columns)) & set(list(df_19.columns)))
# print(set(list(df_15.columns)) & set(list(df_19.columns)))
# print(set(list(df_16.columns)) & set(list(df_19.columns)))
# print(set(list(df_17.columns)) & set(list(df_19.columns)))
# print(set(list(df_18.columns)) & set(list(df_19.columns)))
df_19.drop(columns=['gamesPlayed', 'teamFullName', 'opponentTeamAbbrev', 'gameId', 'homeRoad', 'pointPct', 'ties', 'shotsAgainstPerGame', 'shotsForPerGame', 'powerPlayPct', 'penaltyKillPct', 'goalsAgainstPerGame', 'goalsForPerGame', 'otLosses', 'losses', 'points', 'wins', 'goalsFor', 'goalsAgainst', 'faceoffWinPct', 'penaltyKillNetPct', 'powerPlayNetPct'],inplace=True)
df_19.info()
print(set(list(df_0.columns)) & set(list(df_19.columns)))
print(set(list(df_1.columns)) & set(list(df_19.columns)))
print(set(list(df_2.columns)) & set(list(df_19.columns)))
print(set(list(df_3.columns)) & set(list(df_19.columns)))
print(set(list(df_4.columns)) & set(list(df_19.columns)))
print(set(list(df_5.columns)) & set(list(df_19.columns)))
print(set(list(df_6.columns)) & set(list(df_19.columns)))
print(set(list(df_7.columns)) & set(list(df_19.columns)))
print(set(list(df_8.columns)) & set(list(df_19.columns)))
print(set(list(df_9.columns)) & set(list(df_19.columns)))
print(set(list(df_10.columns)) & set(list(df_19.columns)))
print(set(list(df_11.columns)) & set(list(df_19.columns)))
print(set(list(df_12.columns)) & set(list(df_19.columns)))
print(set(list(df_13.columns)) & set(list(df_19.columns)))
print(set(list(df_14.columns)) & set(list(df_19.columns)))
print(set(list(df_15.columns)) & set(list(df_19.columns)))
print(set(list(df_16.columns)) & set(list(df_19.columns)))
print(set(list(df_17.columns)) & set(list(df_19.columns)))
print(set(list(df_18.columns)) & set(list(df_19.columns)))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34280 entries, 18954 to 1355
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gameDate             34280 non-null  object
 1   regulationAndOtWins  34280 non-null  int64
 2   teamId               34280 non-null  int64
 3   winsInRegulation     34280 non-null  int64
 4   winsInShootout       34280 non-null  int64
dtypes: int64(4), object(1)
memory usage: 1.6+ MB
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}

In [1411]:
# print(set(list(df_0.columns)) & set(list(df_20.columns)))
# print(set(list(df_1.columns)) & set(list(df_20.columns)))
# print(set(list(df_2.columns)) & set(list(df_20.columns)))
# print(set(list(df_3.columns)) & set(list(df_20.columns)))
# print(set(list(df_4.columns)) & set(list(df_20.columns)))
# print(set(list(df_5.columns)) & set(list(df_20.columns)))
# print(set(list(df_6.columns)) & set(list(df_20.columns)))
# print(set(list(df_7.columns)) & set(list(df_20.columns)))
# print(set(list(df_8.columns)) & set(list(df_20.columns)))
# print(set(list(df_9.columns)) & set(list(df_20.columns)))
# print(set(list(df_10.columns)) & set(list(df_20.columns)))
# print(set(list(df_11.columns)) & set(list(df_20.columns)))
# print(set(list(df_12.columns)) & set(list(df_20.columns)))
# print(set(list(df_13.columns)) & set(list(df_20.columns)))
# print(set(list(df_14.columns)) & set(list(df_20.columns)))
# print(set(list(df_15.columns)) & set(list(df_20.columns)))
# print(set(list(df_16.columns)) & set(list(df_20.columns)))
# print(set(list(df_17.columns)) & set(list(df_20.columns)))
# print(set(list(df_18.columns)) & set(list(df_20.columns)))
# print(set(list(df_19.columns)) & set(list(df_20.columns)))
df_20.drop(columns=['gamesPlayed', 'teamFullName', 'opponentTeamAbbrev', 'gameId', 'homeRoad', 'points', 'pointPct', 'satPct'],inplace=True)
df_20.info()
print(set(list(df_0.columns)) & set(list(df_20.columns)))
print(set(list(df_1.columns)) & set(list(df_20.columns)))
print(set(list(df_2.columns)) & set(list(df_20.columns)))
print(set(list(df_3.columns)) & set(list(df_20.columns)))
print(set(list(df_4.columns)) & set(list(df_20.columns)))
print(set(list(df_5.columns)) & set(list(df_20.columns)))
print(set(list(df_6.columns)) & set(list(df_20.columns)))
print(set(list(df_7.columns)) & set(list(df_20.columns)))
print(set(list(df_8.columns)) & set(list(df_20.columns)))
print(set(list(df_9.columns)) & set(list(df_20.columns)))
print(set(list(df_10.columns)) & set(list(df_20.columns)))
print(set(list(df_11.columns)) & set(list(df_20.columns)))
print(set(list(df_12.columns)) & set(list(df_20.columns)))
print(set(list(df_13.columns)) & set(list(df_20.columns)))
print(set(list(df_14.columns)) & set(list(df_20.columns)))
print(set(list(df_15.columns)) & set(list(df_20.columns)))
print(set(list(df_16.columns)) & set(list(df_20.columns)))
print(set(list(df_17.columns)) & set(list(df_20.columns)))
print(set(list(df_18.columns)) & set(list(df_20.columns)))
print(set(list(df_19.columns)) & set(list(df_20.columns)))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31818 entries, 17125 to 11650
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gameDate                31818 non-null  object
 1   goalsForPct             30809 non-null  float64
 2   satPctAhead             20938 non-null  float64
 3   satPctBehind            20934 non-null  float64
 4   satPctClose             31813 non-null  float64
 5   satPctTied              31288 non-null  float64
 6   savePct5v5              31661 non-null  float64
 7   shootingPct5v5          31650 non-null  float64
 8   shootingPlusSavePct5v5  31520 non-null  float64
 9   teamId                  31818 non-null  int64
 10  usatPct                 31814 non-null  float64
 11  usatPctAhead            20898 non-null  float64
 12  usatPctBehind           20890 non-null  float64
 13  usatPctClose            31810 non-null  float64
 14  usatPctTied             31118 non-null  float64
 15  zoneStartPct5v5         31814 non-null  float64
dtypes: float64(14), int64(1), object(1)
memory usage: 4.1+ MB
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'teamId', 'gameDate'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}
{'gameDate', 'teamId'}

In [1412]:
# df = df_0.join(df_1, on=['gameDate', 'teamId'], how='left')
df = pandas.merge(df_0,df_1, on=['gameDate', 'teamId'], how='outer')
df = pandas.merge(df,df_2, on=['gameDate', 'teamId'], how='outer')
df = pandas.merge(df,df_3, on=['gameDate', 'teamId'], how='outer')
df = pandas.merge(df,df_4, on=['gameDate', 'teamId'], how='outer')
df = pandas.merge(df,df_5, on=['gameDate', 'teamId'], how='outer')
df = pandas.merge(df,df_6, on=['gameDate', 'teamId'], how='outer')
df = pandas.merge(df,df_7, on=['gameDate', 'teamId'], how='outer')
df = pandas.merge(df,df_8, on=['gameDate', 'teamId'], how='outer')
df = pandas.merge(df,df_9, on=['gameDate', 'teamId'], how='outer')
df = pandas.merge(df,df_10, on=['gameDate', 'teamId'], how='outer')
df = pandas.merge(df,df_11, on=['gameDate', 'teamId'], how='outer')
df = pandas.merge(df,df_12, on=['gameDate', 'teamId'], how='outer')
df = pandas.merge(df,df_13, on=['gameDate', 'teamId'], how='outer')
df = pandas.merge(df,df_14, on=['gameDate', 'teamId'], how='outer')
df = pandas.merge(df,df_15, on=['gameDate', 'teamId'], how='outer')
df = pandas.merge(df,df_16, on=['gameDate', 'teamId'], how='outer')
df = pandas.merge(df,df_17, on=['gameDate', 'teamId'], how='outer')
df = pandas.merge(df,df_18, on=['gameDate', 'teamId'], how='outer')
df = pandas.merge(df,df_19, on=['gameDate', 'teamId'], how='outer')
df = pandas.merge(df,df_20, on=['gameDate', 'teamId'], how='outer')

In [1413]:
df = df[df['gameDate'] == '2008-10-05']
df.dropna(how='all', inplace=True)
df

,gameDate,gameId,gamesPlayed,homeRoad,losses,lossesScoringFirst,lossesTrailingFirst,opponentTeamAbbrev,otLosses,otLossesScoringFirst,...,satPctTied,savePct5v5,shootingPct5v5,shootingPlusSavePct5v5,usatPct,usatPctAhead,usatPctBehind,usatPctClose,usatPctTied,zoneStartPct5v5
75648,2008-10-05,2.008020e+09,1.0,R,1.0,1.0,0.0,NYR,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75649,2008-10-05,2.008020e+09,1.0,R,0.0,0.0,0.0,PIT,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75650,2008-10-05,2.008020e+09,1.0,H,1.0,0.0,1.0,OTT,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75651,2008-10-05,2.008020e+09,1.0,H,0.0,0.0,0.0,TBL,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75652,2008-10-05,2.008020e+09,1.0,H,0.0,0.0,0.0,TBL,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75653,2008-10-05,2.008020e+09,1.0,H,0.0,0.0,0.0,TBL,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75654,2008-10-05,2.008020e+09,1.0,H,0.0,0.0,0.0,TBL,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78158,2008-10-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78159,2008-10-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78160,2008-10-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78161,2008-10-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN