In [1]:
import pandas
base = pandas.read_parquet('data/joined_team_data.parquet.gzip')
base.head(10)

                   faceoffWinPct    gameDate  gamesPlayed  goalsAgainst  \
gameId     teamId
2008020001 3            0.483870  2008-10-04            1             1
           14           0.516129  2008-10-04            1             2
2008020002 5            0.466666  2008-10-04            1             3
           9            0.533333  2008-10-04            1             4
2008020003 3            0.369565  2008-10-05            1             1
           14           0.630434  2008-10-05            1             2
2008020004 5            0.508771  2008-10-05            1             3
           9            0.491228  2008-10-05            1             1
2008020005 10           0.355932  2008-10-09            1             2
           17           0.644067  2008-10-09            1             3

                   goalsAgainstPerGame  goalsFor  goalsForPerGame homeRoad  \
gameId     teamId
2008020001 3                       1.0         2              2.0        R
           14                      2.0         1              1.0        H
2008020002 5                       3.0         4              4.0        R
           9                       4.0         3              3.0        H
2008020003 3                       1.0         2              2.0        H
           14                      2.0         1              1.0        R
2008020004 5                       3.0         1              1.0        H
           9                       1.0         3              3.0        R
2008020005 10                      2.0         3              3.0        R
           17                      3.0         2              2.0        H

                   losses opponentTeamAbbrev  ...  satTied  satTotal  \
gameId     teamId                             ...
2008020001 3            0                TBL  ...      NaN       NaN
           14           1                NYR  ...      NaN       NaN
2008020002 5            0                OTT  ...      NaN       NaN
           9            0                PIT  ...      NaN       NaN
2008020003 3            0                TBL  ...      NaN       NaN
           14           1                NYR  ...      NaN       NaN
2008020004 5            1                OTT  ...      NaN       NaN
           9            0                PIT  ...      NaN       NaN
2008020005 10           0                DET  ...      NaN       NaN
           17           1                TOR  ...      NaN       NaN

                   shots5v5  usatAgainst  usatAhead  usatBehind  usatClose  \
gameId     teamId
2008020001 3            NaN          NaN        NaN         NaN        NaN
           14           NaN          NaN        NaN         NaN        NaN
2008020002 5            NaN          NaN        NaN         NaN        NaN
           9            NaN          NaN        NaN         NaN        NaN
2008020003 3            NaN          NaN        NaN         NaN        NaN
           14           NaN          NaN        NaN         NaN        NaN
2008020004 5            NaN          NaN        NaN         NaN        NaN
           9            NaN          NaN        NaN         NaN        NaN
2008020005 10           NaN          NaN        NaN         NaN        NaN
           17           NaN          NaN        NaN         NaN        NaN

                   usatFor  usatTied  usatTotal
gameId     teamId
2008020001 3           NaN       NaN        NaN
           14          NaN       NaN        NaN
2008020002 5           NaN       NaN        NaN
           9           NaN       NaN        NaN
2008020003 3           NaN       NaN        NaN
           14          NaN       NaN        NaN
2008020004 5           NaN       NaN        NaN
           9           NaN       NaN        NaN
2008020005 10          NaN       NaN        NaN
           17          NaN       NaN        NaN

[10 rows x 291 columns]

In [11]:
base.goalsSlap

gameId      teamId
2008020001  3        NaN
            14       NaN
2008020002  5        NaN
            9        NaN
2008020003  3        NaN
                      ..
2022020778  30       NaN
2022020779  19       NaN
            53       NaN
2022020990  4        NaN
            7        NaN
Name: goalsSlap, Length: 34280, dtype: float64

In [2]:
base.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 34280 entries, ('2008020001', 3) to ('2022020990', 7)
Columns: 291 entries, faceoffWinPct to usatTotal
dtypes: float64(250), int64(36), object(5)
memory usage: 76.8+ MB

In [10]:
lis = base.isnull().sum()[base.isnull().sum() == 34280].index
lis

Index(['ties', 'evGoalsFor', 'period1GoalsAgainst', 'period1GoalsFor',
       'period2GoalsAgainst', 'period2GoalsFor', 'period3GoalsAgainst',
       'period3GoalsFor', 'periodOtGoalsAgainst', 'periodOtGoalsFor',
       'ppGoalsFor', 'shGoalsFor', 'goalsFor3On3', 'goalsFor3On4',
       'goalsFor3On5', 'goalsFor3On6', 'goalsFor4On3', 'goalsFor4On4',
       'goalsFor4On5', 'goalsFor4On6', 'goalsFor5On3', 'goalsFor5On4',
       'goalsFor5On5', 'goalsFor5On6', 'goalsFor6On3', 'goalsFor6On4',
       'goalsFor6On5', 'goalsForPenaltyShots', 'goalsBackhand',
       'goalsDeflected', 'goalsSlap', 'goalsSnap', 'goalsTipIn',
       'goalsWrapAround', 'goalsWrist', 'shootingPct', 'shootingPctBackhand',
       'shootingPctDeflected', 'shootingPctSlap', 'shootingPctSnap',
       'shootingPctTipIn', 'shootingPctWrapAround', 'shootingPctWrist',
       'shotsOnNet', 'shotsOnNetBackhand', 'shotsOnNetDeflected',
       'shotsOnNetSlap', 'shotsOnNetSnap', 'shotsOnNetTipIn',
       'shotsOnNetWrapAround', 'shotsOnNetWrist', 'satAgainst', 'satAhead',
       'satBehind', 'satClose', 'satFor', 'satTied', 'satTotal', 'shots5v5',
       'usatAgainst', 'usatAhead', 'usatBehind', 'usatClose', 'usatFor',
       'usatTied', 'usatTotal'],
      dtype='object')

In [4]:
base.describe().T

,count,mean,std,min,25%,50%,75%,max
faceoffWinPct,34280.0,0.499998,0.072836,0.170212,0.45098,0.5,0.549019,0.829787
gamesPlayed,34280.0,1.000000,0.000000,1.000000,1.00000,1.0,1.000000,1.000000
goalsAgainst,34280.0,2.823600,1.666412,0.000000,2.00000,3.0,4.000000,11.000000
goalsAgainstPerGame,34280.0,2.823600,1.666412,0.000000,2.00000,3.0,4.000000,11.000000
goalsFor,34280.0,2.823600,1.666412,0.000000,2.00000,3.0,4.000000,11.000000
...,...,...,...,...,...,...,...,...
usatBehind,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
usatClose,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
usatFor,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
usatTied,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
usatTotal,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN